[2016-05-04 21:15] alavatelliMCA opened #1 "Bulk Approve/disapprove"
Means to adjust status in bulk

[2016-05-04 21:17] alavatelliMCA opened #2 "Search by image"
"Title" field is the caption field, update label to be caption.

Want to be able to search all content called from website for cross referencing

[2016-05-04 21:59] alavatelliMCA opened #3 "Sort by status, title, priority"
Sort by status, title, priority
Sort by function available on alternate views too

[2016-05-19 20:57] alavatelliMCA opened #4 "Quick (un)assign"
Quick (un)assign to on image show and in table view

[2016-05-19 21:02] alavatelliMCA opened #5 "queue layout adjustments"
Iterate on queue layout–view layout adjustments

List view, versus medium/large thumbnail view? ACL and SC need to examine the presentation of the queues.

More to come.

[2016-05-19 21:03] alavatelliMCA opened #6 "Image status adjustments"
More range of status: must have alt, must have long, independent and on per image basis (apply this to all languages)
Union of bools of alt and long, punting per locale

[2016-05-19 21:03] alavatelliMCA opened #7 "Accessibility: Aria-hidden on all icons"
Aria-hidden on all icons

[2016-05-19 21:03] alavatelliMCA opened #8 "Accessibility: ready to review queue should have describedby pointing to descriptions"
ready to review queue should have describedby pointing to descriptions

[2016-05-19 21:04] alavatelliMCA opened #9 "Accessibility: aria-describedby to image id on actions per row"
Aria-describedby to image id on actions per row

[2016-05-19 21:04] alavatelliMCA opened #10 "Pagination of descriptions and assignments on user page"
Paginate descriptions and assignments on user pages

[2016-05-19 21:05] alavatelliMCA opened #11 "Transport control (navigation on image level)"
Previous and Next on the image level so that you don't have to go back to table

[2016-05-19 21:05] alavatelliMCA opened #12 "Link from Coyote entry to the MCA context"
Link from Coyote entry to the MCA context

[2016-05-19 21:05] alavatelliMCA opened #13 "Testing"
Accessibility & Next Client: Testing.
- [x] travis ci: test builds
- [x] code climate: code quality
- [x] coveralls: test coverage
- [x] check to see if feed updated on codeclimate
- [x] remove coveralls bc of test coverage in codeclimate?
- [x] improve code quality to 3.8
- [x] build passes?
- [x] Update factories of models
- [x] Set testing priorities
- [x] create correct statuses in factory
- [

[2016-05-19 21:07] alavatelliMCA opened #14 "How to deal with images that are removed from website?"
Description Archive with thumbnail so that if image re-uploaded it could be copied over? Potential of re-linking archived descriptions to images...

[2016-05-19 21:07] alavatelliMCA opened #15 "select2 update"
Autocomplete select2 update check https://select2.github.io/announcements-4.0.html

[2016-05-19 21:08] alavatelliMCA opened #16 "Establish skinning workflow/scope"
Logo, primary color, secondary color

[2016-05-19 21:09] alavatelliMCA opened #17 "Resolve duplicate images?"
This could possibly be resolved by ability to see context– #12

[2016-05-19 21:10] alavatelliMCA opened #18 "Description should have a primary flag per metum per locale"
Longdesc default per website (Identify default approach?)
When multiple descriptions are approved for publish (can this happen?) which description is used on the site?

[2016-05-19 21:12] alavatelliMCA opened #19 "More "sort by" functionality in list views"
Sort by functionality for all columns in the Images list view, especially "Title" maybe related to #2  Seach by image.

Image priority boolean, priortize sort

[2016-05-19 21:12] alavatelliMCA opened #20 "Demo instance"
- [x] Chris: README instructions for install adapted from Vagrant

[2016-05-19 21:12] alavatelliMCA opened #21 "Store license per description"
- [x] store license per description
- [x]  [CC0](https://creativecommons.org/choose/zero/) default, options?
- [x] form field on edit, display with on show
- [x] display in JSON

ref

- https://choosealicense.com/appendix/
- https://spdx.org/licenses/
- https://creativecommons.org/licenses/
- <https://github.com/kmewhort/creative_commons_rails>

[2016-05-19 21:13] alavatelliMCA opened #22 "Audit log of description edits"
Audit log of description edits

[2016-05-19 21:13] alavatelliMCA opened #23 "Empty search result with large count/pagination"
Debug empty search result with large count and pagination

[2016-05-25 15:51] seeReadCode commented on #1
Bulk approve is available on the [descriptions index](http://coyote.mcachicago.org/descriptions). If further improvements are desired, please specify.  If not, please close.

[2016-05-25 17:03] seeReadCode commented on #2
This is ready to deploy.

[2016-06-01 22:14] seeReadCode commented on #3
I'm separating the second request into another ticket.

[2016-06-01 22:14] seeReadCode opened #24 "Sort by function available on alternate views"

[2016-06-01 22:32] seeReadCode commented on #11
Non-trivial in current layout due to the sorting and filtering options which a user might expect to carry over.  Consider AJAX/modal approach...

[2016-06-01 22:35] seeReadCode commented on #18
I'm thinking we would just sub the default longdesc default into the JSON return but not show it on the Coyote UI or store it as a longdesc per image.

[2016-06-01 22:35] #24 closed

[2016-06-01 22:38] seeReadCode commented on #22
Planning on using <https://github.com/collectiveidea/audited>

[2016-06-01 22:46] seeReadCode commented on #23
Will add a test case...

[2016-06-01 22:48] seeReadCode commented on #18
What would an example longdesc default be, i.e for MCA?

[2016-06-01 22:51] seeReadCode commented on #3
Status sort depends on #6

[2016-06-01 22:53] seeReadCode commented on #12
I need to check if this info is already in the JSON but most likely there will be a request to Tomáš

[2016-06-02 00:16] sinabahram commented on #18
I think we need to re-think default longdesc. Alt makes sense as “”.

From: Christopher Reed [mailto:notifications@github.com]
Sent: Wednesday, June 01, 2016 6:49 PM
To: coyote-team/coyote <coyote@noreply.github.com>
Subject: Re: [coyote-team/coyote] description default (#18)

What would an example longdesc default be, i.e for MCA?

—
You are receiving this because you are subscribed to this threa

[2016-06-02 01:30] seeReadCode opened #25 "Improve and standardize action placement"
Consider
- home page template
- image show template
- describe show template

Use the verb!

See #5

[2016-06-02 01:50] seeReadCode opened #26 "Unify table partial pattern"
consider indexes, images/table, descriptions/table, descriptions/table_small

[2016-06-02 12:52] seeReadCode commented on #4
Needs unassign on quick view / table view.

A better pattern would be a list of users with an X after each and subsequent a dropdown to select each additional user.

[2016-06-02 14:54] seeReadCode commented on #12
Info was not in JSON.  Email sent.

[2016-06-08 19:35] seeReadCode commented on #20
@sinabahram might you spin up an Ubuntu server on AWS for me to test out provisioning via chef?

Here's one HOWTO I'm considering:
https://gist.github.com/francois-blanchard/f9372f48c15ffade2c9c

Open to suggestions or providing a bash script and a README.

[2016-06-08 19:38] seeReadCode opened #27 "API should be ready for third client"
- [x] update http://coyote.mcachicago.org/apipie/1.0/images.html with page_urls
- [x] render a markdown file of onboarding info & instructions

[2016-06-21 18:05] seeReadCode commented on #1
Moving prioritize ask to a separate item

[2016-06-21 18:05] seeReadCode opened #28 "Allow admin to prioritize images"
boolean based

[2016-06-21 18:43] seeReadCode commented on #8
so the actions per each description in the ready to review now have a described by pointing to the description

[2016-06-21 18:44] seeReadCode opened #29 "Unify image tag"
see image/show, description/image, quickview

[2016-06-21 18:44] alavatelliMCA commented on #16
Tobey our Senior Interactive Designer will be providing designs to work from on Monday.

[2016-06-21 18:46] alavatelliMCA commented on #14
@sinabahram Would love your thoughts on this question.

[2016-06-21 18:47] alavatelliMCA commented on #21
@sinabahram I added this verbatim from your notes, but I am actually not sure what it means, do you remember?

[2016-06-21 18:50] seeReadCode commented on #12
Pinged Tomas again.

[2016-06-21 18:52] seeReadCode commented on #21
I think this was an ask from MCA to associate rights info from the CMS with the image within the Coyote UI.

[2016-06-21 19:21] seeReadCode commented on #16
Awesome!

[2016-06-21 19:22] seeReadCode commented on #5
see also #16

[2016-06-21 19:29] seeReadCode commented on #23
Ok, I am having trouble replicating this one.  Does anyone have a link for an example?

[2016-06-21 21:01] sinabahram commented on #21
This was a request from you, actually, regarding associating permissions/rights info e.g. creative commons, do not reproduce/share, etc. etc.

From: Anna Chiaretta Lavatelli [mailto:notifications@github.com]
Sent: Tuesday, June 21, 2016 2:48 PM
To: coyote-team/coyote <coyote@noreply.github.com>
Cc: Sina Bahram <sina@sinabahram.com>; Mention <mention@noreply.github.com>
Subject: Re: [coyote-team/co

[2016-06-21 21:02] sinabahram commented on #14
I think we need to simply decide who is authoritative with respect to deletion. Obviously the website, I submit, therefore, the question becomes do we wish for a deletion event to occur, an absence to be marked as a deletion (e.g. it was there before but now isn’t), or a field like “deleted: true/false” to be added, etc.

Preferences?

From: Anna Chiaretta Lavatelli [mailto:notifications@github.co

[2016-06-21 22:04] seeReadCode commented on #3
At this point, title and priority are deployable

[2016-06-26 17:17] seeReadCode opened #30 "missing titles"
The import function was using the correct API root but the update function hasn't been, resulting in missing images.

[2016-06-26 17:17] seeReadCode commented on #30
see #27 also

[2016-06-26 17:19] seeReadCode commented on #30
I'll run a script on the server after this is deployed to get the titles for all items missing titles.  Should eventually be incorporated as a model method.

Might need a refresh button to allow missing image data to get updated on occassion.

[2016-06-28 13:06] #30 closed

[2016-06-28 13:06] #1 closed

[2016-06-28 13:06] #2 closed

[2016-06-28 13:06] #3 closed

[2016-06-28 13:06] #4 closed

[2016-06-28 13:06] #6 closed

[2016-06-28 13:06] #7 closed

[2016-06-28 13:06] #8 closed

[2016-06-28 13:06] #9 closed

[2016-06-28 13:06] #15 closed

[2016-06-28 13:06] #22 closed

[2016-06-28 13:06] #28 closed

[2016-06-28 19:56] seeReadCode opened #31 "Admin: User creation shouldn't fail with invisible errors"
Reported by sina

[2016-06-28 20:51] seeReadCode commented on #31
@sinabahram I couldn't replicate this issue and I don't see any validation errors in the logs which suggests to me that it may have been an HTML5 form error.

Could you give replication instructions for the bug starting from loading the [form here](http://coyote.mcachicago.org/users/sign_up)?

[2016-06-28 20:57] sinabahram commented on #31
That is not the same form I was presented with. That form has the first three same fields e.g. first name, last name, and email, but this form then has password-related fields, which I was definitely not presented with.

Good news, that answers the validation error issue, but bad news, why/how did I get served the wrong form across multiple refreshes?

[2016-06-28 21:30] seeReadCode commented on #31
There are login, sign up and forgotten password.  I'm not seeing any other form you could have come up against.

[2016-06-29 03:48] sinabahram commented on #31
I logged in, and I then went to users, and I went to “new user” and the form I was presented did not ask to assign the user a password, only for the first name, last name, email address, and a checkbox for admin.

[2016-06-29 12:28] seeReadCode commented on #31
Ah, so it's not the new user registration but the admin new user form.  I will take a look at that page.

[2016-06-29 12:39] #31 closed

[2016-06-30 15:25] seeReadCode commented on #20
Might concede on chef and move towards docker

[2016-06-30 15:27] seeReadCode commented on #27
See: https://github.com/coyote-team/coyote/blob/master/lib/tasks/coyote.rake

[2016-06-30 15:31] seeReadCode commented on #27
Really we need a guide on "How to integrate with Coyote" c.f. http://coyote.mcachicago.org/apipie

[2016-07-06 18:07] alavatelliMCA commented on #23
I don't know what this was, @sinabahram do you remember context?

[2016-07-06 18:56] sinabahram commented on #23
I believe that this had to deal with the fact that on a certain search, no results would come up, or pagination was there or wasn’t there, but there were no results to go through, etc. etc.

However, this may no longer be an issue because I think it actually was a symptom of a synchronization issue that has hence been fixed.

[2016-07-15 17:13] seeReadCode opened #32 "Design updates from Tobey"
Short term
- [x] 3x grid for home view
- [x] leaderboard

Accomplished
- [x] new fonts
- [x] user dropdown
- [x] fixed header
- [x] better announcement treatment
- [x] blue for input fields
- [x] label treatments
- [x] tabbed login/signup
- [x] oo to word mark and back during page transition
- [x] focus state for non-input keyboard v. mouse (ask sina for code)

[2016-07-15 17:16] seeReadCode commented on #12
Pinged again.

[2016-07-15 17:17] seeReadCode commented on #32
Relates to #5 #16 #29 #26 #25

[2016-07-15 17:18] seeReadCode commented on #17
We could also use https://github.com/westonplatter/phashion

[2016-07-15 17:19] seeReadCode commented on #23
I'm going to close this until we can replicate it.

[2016-07-15 17:19] #23 closed

[2016-07-15 17:23] seeReadCode commented on #21
@alavatelliMCA so do we want to build this out or not?  If we do, would we want the data to be structured (i.e. a dropdown for copyright type, a text field for supplementary info) or unstructured (i.e. a text field)?  And where would the data come from?

[2016-07-15 17:25] seeReadCode commented on #18
The default for both is currently "".  If we want to change this, let's discuss soon?

[2016-07-15 17:27] seeReadCode commented on #14
I'm fine either way.  @alavatelliMCA ?

[2016-07-15 17:28] seeReadCode commented on #19
This item is effectively closed.  If there are any further specific requests for filtering, please create a ticket and/or discuss with me or Tobey.

[2016-07-15 17:28] #19 closed

[2016-07-15 20:17] seeReadCode commented on #27
Also consider wizard flow for onboarding

[2016-07-16 16:13] seeReadCode commented on #21
Also consider https://commons.wikimedia.org/wiki/Commons:Attribution_Generator

[2016-07-27 18:03] seeReadCode commented on #32
this commit was  related as well https://github.com/coyote-team/coyote/commit/9e1eccba876e8da57679f70caadbde28f977cbe5

[2016-07-27 18:04] seeReadCode commented on #27
First draft sent to sina

[2016-08-01 13:34] seeReadCode opened #33 "Wordpress integration"
- [x] plugin repo setup

Remaining issues moved to https://github.com/coyote-team/coyote-wp

References:
- http://wppb.io/
- https://wordpress.org/support/topic/cant-turn-off-longdesc-img-attribute

Also eventually consider:
- create `wordpress.rb` strategy

[2016-08-01 17:23] seeReadCode commented on #13
https://coveralls.io/ for code coverage

[2016-08-01 17:27] #11 closed

[2016-08-01 17:28] seeReadCode commented on #11
Closed this for the time being but it will need revisiting for session based navigation

[2016-08-01 19:37] seeReadCode opened #34 "Server side strategy usage and creation"
- [x] abstract and move this func to separate file https://github.com/coyote-team/coyote/blob/master/lib/tasks/coyote.rake
- [x] abstract move this func to separate file] https://github.com/coyote-team/coyote/blob/master/app/models/description.rb#L79-L92
- [x] abstract and move this funct to separate file https://github.com/coyote-team/coyote/blob/master/app/controllers/websites_controller.rb#L21-

[2016-08-01 21:09] seeReadCode commented on #20
Punting on docker as well.  Updating README and then Sina will attempt install on demo.coyote.pics

[2016-08-01 21:11] seeReadCode commented on #20
ready for you @sinabahram to try spinning up an instance

[2016-08-11 17:31] seeReadCode commented on #27
see also #34

[2016-08-11 17:32] seeReadCode commented on #27
The plan is for a markdown file of instructions to be added to the repo and then render into a page.  Sina is working on the draft.  After the draft is finished, we'll hand off to Tobey for design.

[2016-08-11 18:59] #10 closed

[2016-08-11 19:09] #12 closed

[2016-08-11 19:12] seeReadCode commented on #5
Closing this as it's encapsulated in #32

[2016-08-11 19:12] #5 closed

[2016-08-12 19:43] #27 closed

[2016-08-12 19:44] seeReadCode commented on #27
Here's the markdown file for your updating @sinabahram https://github.com/coyote-team/coyote/blob/master/app/views/pages/_intro.md

[2016-08-12 19:44] #34 closed

[2016-08-12 19:51] seeReadCode opened #35 "Add title and longdesc to all image placements if available"
How should we render longdesc?

[2016-08-12 19:53] seeReadCode commented on #29
see #35 too

[2016-08-12 19:53] #29 closed

[2016-08-12 19:53] seeReadCode commented on #17
Do we still care about this? @sinabahram @alavatelliMCA

[2016-08-13 00:57] sinabahram commented on #17
How much effort would it be to simply offer a manual ability to mark something as a duplicate? It is a necessary, but hardly sufficient, feature request to the one described in the ticket, so it gets us closer to the goal at hopefully a fraction of the implementation time, or so I am hoping?

[2016-08-13 00:59] sinabahram commented on #35
This is a longer conversation that needs to occur. We need to have a widget that displays both alt and longdesc, possibly with a picker or some other kind of selector control that can be mostly minimized/collapsed. One could imagine a box to the right of an image or other forms of widget e.g. one that replaces widgets with descriptions (purely as an example, not as a production version).

We shoul

[2016-08-13 21:13] seeReadCode opened #36 "License? Support links?"

[2016-08-13 22:57] sinabahram commented on #36
Any objections to mpl v2?

[2016-08-15 14:58] alavatelliMCA commented on #36
mpl?

[2016-08-15 14:59] seeReadCode commented on #36
http://choosealicense.com/licenses/mpl-2.0/

[2016-08-15 15:03] susanchun commented on #36
I have only ever used the LGPL and GPL. Can someone provide the diffs with MPL?

From: Christopher Reed <notifications@github.com<mailto:notifications@github.com>>
Reply-To: coyote-team/coyote <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, August 15, 2016 at 9:59 AM
To: coyote-team/coyote <coyote@noreply.github.com<mailto:coyote@noreply.github.com>>
Subject: Re: [coyote-team

[2016-08-15 15:18] sinabahram commented on #36
https://www.mozilla.org/en-US/MPL/2.0/

[2016-08-18 15:16] alavatelliMCA commented on #14
I would like the description to be continue to be stored in coyote and be accessible so that if an image is deleted on the website we haven't lost the writing information, and in theory if the image is reuploaded we can restore the description (even if simply by copy-paste) and not lose that writing work. I think that is the same as what you propose but want to make sure.

That said we now have a

[2016-08-18 15:16] #16 closed

[2016-08-18 19:26] seeReadCode commented on #14
My impression is that this is a very low priority item so I might punt on this but for the time being here are a couple things would need to be implemented here for the immediate ask:

- [ ] Create "deleted" (maybe we say "archived"?) status for images
- [ ] Expose a "delete" method via API

Then we would eventually want:

- [ ] reasonable workflow for matching descriptions for an archived image t

[2016-08-18 19:34] seeReadCode commented on #36
@susanchun this site gives very concise explanations and comparisons: <http://choosealicense.com/licenses>

Compared to the LGPLv3, MPL limits trademark use but doesn't require changes to the code to be noted.  It's effectively a slightly weaker LGPL.  Would you agree @sinabahram?

[2016-08-18 19:38] sinabahram commented on #36
I would agree, but it makes me think that lgpl is possibly the way to go. I have to get into the right mindset for sitting down and slogging through licenses (oh joy…). More from me on this in a bit.

[2016-08-18 19:42] seeReadCode opened #37 "Coyote Bookmarklet"
We are using https://github.com/seeread/easymarklet to simplify the iframe injection etc.

How are we injecting descriptions:
- override `alt`
- sighted widget (consider MCA)
- Eventually we may want to accept any objects with background images.

Clicking the bookmarklet
- [x] with auth token available for ajax request
- [x] displays images in a grid with describe overlays
- [x] displays current v

[2016-08-26 22:15] TobeyeboT opened #38 "Additional credit in footer"
Hey @seeReadCode, can you please replace the `Brought to you by Museum of Contemporary Art Chicago.` line in the footer with `Coyote is a project of the Museum of Contemporary Art Chicago. It has been generously supported by Lois and Steve Eisen.`? Thanks!

[2016-08-29 15:35] seeReadCode commented on #36
I set MPLv2 in a commit a while ago.  I'll leave the issue you open until you make up your mind.

[2016-08-29 19:38] seeReadCode commented on #13
Code climate issues

- [ ] https://codeclimate.com/github/coyote-team/coyote/app/controllers/assignments_controller.rb
- [ ] https://codeclimate.com/github/coyote-team/coyote/app/controllers/descriptions_controller.rb
- [ ] https://codeclimate.com/github/coyote-team/coyote/app/models/image.rb
- [ ] https://codeclimate.com/github/coyote-team/coyote/config/initializers/simple_form_bootstrap.rb
- [ ]

[2016-09-07 20:56] seeReadCode commented on #20
@sinabahram ping

[2016-09-08 18:51] seeReadCode commented on #32
Other leaderboard component ideas:
- graphic treatment for key numbers (important totals, numbers that count to 0 and have no reasonable progress indicator such as ready to review count)
- counts for top 5 describers
- show best approval record

Other design ideas:
- more intense visual call to action for priority items
- priority counts in queues
- do we want to show counts across image groups?

[2016-09-08 19:54] alavatelliMCA opened #39 "Order of Queue"
Hi, what order does the queue presented to admin represent?

Thank you!

[2016-09-08 20:00] alavatelliMCA commented on #32
I like the leaderboard component ideas. Do you need a design for graphic treatment?

- Will the priority items be the first to appear in the Queue? They should be pushed ahead of everything. If so I don't know that it needs to be called out more, but will look with Tobey.
- Can you explain what you mean by priority counts in queues? Not following
- I don't think we need counts across groups as the

[2016-09-08 21:13] seeReadCode commented on #32
@alavatelliMCA I clarified my text a bit to help answer your questions (and to clarify some of your responses for anyone else following along).

[2016-09-15 14:26] seeReadCode commented on #39
@alavatelliMCA could you screenshot and describe which queue you are asking about?

[2016-09-15 14:27] #38 closed

[2016-09-15 14:27] seeReadCode opened #40 "Add ability for interested parties to receive updates about progress"
This would likely make sense @sinabahram , no?

[2016-09-15 15:35] sinabahram commented on #40
I agree with this making sense.

[2016-09-20 15:53] seeReadCode commented on #39
@alavatelliMCA please see my question

[2016-09-20 15:54] seeReadCode commented on #36
@susanchun I'm closing this for now

[2016-09-20 15:54] #36 closed

[2016-09-20 15:55] seeReadCode commented on #40
closing for now, leaving it for @sinabahram

[2016-09-20 15:55] #40 closed

[2016-09-20 15:57] seeReadCode commented on #35
We are looking `aria-details`, pending decision.

[2016-09-20 16:01] seeReadCode opened #41 "Future design improvements"
- [ ] AJAX instant results layout for descriptions
- [ ] assign flow (should be table)
- [ ] describe flow
- [ ] RESTify remaining update/create/delete calls (see image, website)
- [ ] review flow (as transport)
- [ ] home hero and description
- [x] typography treatment
- [ ] test use flow
- [ ] description view toggle
- [ ] descriptions table structure (use `.sr-only`)
- [x] button and input styl

[2016-09-20 16:04] seeReadCode commented on #32
@alavatelliMCA please let me know what you are thinking about the leaderboard and what questions you have now re: priority counts etc

[2016-09-20 16:04] #26 closed

[2016-09-20 16:08] #25 closed

[2016-09-20 16:16] seeReadCode commented on #18
We could eventually offer a `"primary": true`

[2016-09-20 16:26] seeReadCode opened #42 "Leaderboard improvements"
Other leaderboard component ideas:
- non-progress bar-able important metrics, such as ones that hopefully count from n to 0, e.g. the ready to review count,
- comparably show counts for top 5 describers as well as v. self,
- show badges, names for some of the bests, e.g. approval record, days active streak.

We would need agreement on the important metrics, and then a graphic treatment per metric

[2016-09-20 16:27] #32 closed

[2016-09-20 16:33] seeReadCode commented on #42
@alavatelliMCA @TobeyeboT it would really help to unblock progress on this if we could have some related design work by end of week.  Please let me know if you have questions.

[2016-09-20 20:57] alavatelliMCA commented on #18
I defer to Sina on the appropriate method for implementation, but that sounds right to me.

[2016-09-20 21:01] alavatelliMCA opened #43 "User sort"
http://coyote.mcachicago.org/admin/users

Can this be alpha? It is very hard finding people as the list grows.

[2016-09-20 21:05] sinabahram commented on #43
I don’t understand this response. Sorry

[2016-09-20 21:35] alavatelliMCA commented on #42
Sorry Chris, the in-line updates to the other issue confused me because I wasn't sure what changed.

Whichever way we go, we do want to keep it simple and straightforward. These were the metrics we found most important included in the design document, plus I added the top describers idea:

Our Status
 # Described Images
 # Total Descriptions
 # Approved Descriptions
 # Pending Descriptions Ready f

[2016-09-20 22:01] alavatelliMCA commented on #39
I have no idea what order this is, seems kind of random.

![screen shot 2016-09-20 at 5 01 10 pm](https://cloud.githubusercontent.com/assets/8040710/18690472/e074bfee-7f53-11e6-9ac7-ecadf6219927.png)

[2016-09-21 18:01] #43 closed

[2016-09-21 18:03] seeReadCode commented on #42
@alavatelliMCA thanks!

The main design issue is that many of these make sense as numbers rather than progress bars.  I can move forward with generating a table of these and we can work on styling later as need be.

[2016-09-21 18:24] seeReadCode commented on #39
They are sorted to show, in order of precedence, first the priority items and then reverse chronological order (according to the created timestamp from MCA).  I've added a border around priority items to make this a bit clearer.  I also added the updated and created timestamps to the image and description detail pages for reference.

[2016-09-21 18:25] #39 closed

[2016-09-21 18:45] sinabahram commented on #42
I like this approach. It gets the data there with minimal effort, and exposes it in a reasonable way. Visual treatment can happen as design and more budget becomes available.

[2016-09-21 20:46] alavatelliMCA commented on #42
A note: In grand scheme of work to be done this is lower priority than the remaining work on list views, it doesn't seem the design has been applied to these yet. Let me know if there is anything else you need.

As for this issue: I am not thrilled about an undesigned table leading the page when we have a good design. It is useful to have the simple progress bar to give the numbers a context, othe

[2016-09-22 16:54] alavatelliMCA commented on #39
I see the source of my confusion, I thought the sort was wrong because the images at the top aren't the most recent. It looks like Coyote stopped pulling images from the website around August 12. I'll make a new issue for this to track, will check in with Tomas if anything changed around then.

[2016-09-22 16:55] alavatelliMCA opened #44 "Sync with Website"
It appears that Images have not been pulled since August 12, I am checking on our end to find out what changes could have caused this.

[2016-09-22 16:56] seeReadCode commented on #39
I bet it's related to this deploy on my side.  https://github.com/coyote-team/coyote/issues/34  I'll look at it today.  Don't bother Tomas yet please.

[2016-09-22 16:57] seeReadCode commented on #44
Likely related to #34

[2016-09-22 16:57] seeReadCode commented on #39
That new issue is #44 .  I'm closing this one for now.

[2016-09-22 16:58] alavatelliMCA commented on #44
Confirmed, I will wait until further notice before looping in Tomas.

[2016-09-22 17:18] seeReadCode commented on #44
Another synchronization bug was addressed here but descriptions that were updated since 2016/08/12 might need to be patched to MCA as well.
 https://github.com/coyote-team/coyote/commit/4061a0e9ba293c240a01495ca43d5e726f3b1624

[2016-09-22 17:27] seeReadCode commented on #42
Re: #44 it might make sense to feature the latest image timestamp as pulled from MCA.

[2016-09-22 20:49] seeReadCode commented on #44
I ran

[code]
and that got us updated on our side.

I'm trying to fix this bulk command for patching
[code]
and that should get us updated on the MCA side.

[2016-09-26 18:02] #44 closed

[2016-09-26 18:13] seeReadCode opened #45 "Column sizing tweaks"
on description index and small table (see user or image)

- [x] set max width on text
- [x] word wrap

[2016-09-26 18:18] seeReadCode opened #46 "Quick view layout"
- [x] width of description action placement for ready to review

[2016-09-27 14:16] seeReadCode opened #47 "Resolve sprockets warning"
https://github.com/rails/sprockets/blob/master/guides/extending_sprockets.md#supporting-all-versions-of-sprockets-in-processors

[2016-09-27 20:42] #45 closed

[2016-09-27 20:42] #46 closed

[2016-09-28 19:45] alavatelliMCA opened #48 "Design Refinements - Remaining Styling Work"
This is an outline of the "low-hanging fruit" that will get coyote looking more like the design. For all of this please refer to the design sketches added via dropbox link at the bottom.  

First, all views and containers should be white background only.

Most views (list and object)
- [x] B&W styling of check boxes WONTFIX browser standards vary, overly complicated
- [x] B&W styling for dropdowns

[2016-09-28 20:31] alavatelliMCA commented on #48
Note that this issue has been updated if only viewing via email, check on github.

[2016-09-28 21:46] seeReadCode commented on #48
Thanks @alavatelliMCA!  I'll be looking forward to the remaining two posts.

[2016-09-28 22:09] alavatelliMCA opened #49 "UI tweaks for search and indexes"
These are some modifications to improve usability while not going all the way with the design proposal, still working with the current functionality set and table view.

Tweaks to improve UI
- [x] Use SEARCH/CLEAR buttons instead of icons below dropdown/search field block, currently magnifying glass and x
- [x] Change thumbs up/thumbs down to APPROVE/REJECT buttons same as on admin page, white bac

[2016-09-28 22:14] alavatelliMCA commented on #49
I have updated this issue with a couple tweaks after posting if you are working via email.

[2016-09-29 20:58] seeReadCode commented on #49
Moving the dropdown and field searches to the left will break some screen reader navigation (via `<th>`).  @sinabahram please confirm on this one.

Re: adjusting image columns to double row height and the double row layout, this also has negative implications for the screen reader based navigation & we are showing full descriptions now anyway (with wrapping).  @sinabahram and @alavatelliMCA please

[2016-09-29 21:20] sinabahram commented on #49
I definitely think we should show the whole thing, not just two lines.

Let’s chat via voice, though, about the moving the drop downs issue. I think we can still make that work via programmatic association.

[2016-09-29 22:51] alavatelliMCA commented on #49
Would be glad to be on a call, tomorrow I am booked up 11:30-2:00 tomorrow. Will be on skype when at my desk if you want to give me a poke.

[2016-09-30 02:03] sinabahram commented on #49
I think the call only requires Chris and I re accessibility.

[2016-10-04 15:41] alavatelliMCA commented on #48
Chris it's looking great! Please let me know when checked off items are ready for review.
For instance I noticed there are still colored row highlights on images list view and this item is checked off on the list.

Thanks so much!

[2016-10-04 15:44] seeReadCode commented on #48
@alavatelliMCA I think all of the checked items are deployed but I may have missed certain instances of the broader asks because I haven't done a thorough review yet.   Please feel free to add more specific tasks as new checkboxes if you notice them.  Thanks!

[2016-10-04 16:43] alavatelliMCA commented on #48
It really is looking so awesome, very exciting. The nitpicking things I noticed are

B&W styling for dropdowns
- [ ] square corners (list views, new description page)

 Remove background highlights, everything white
- [ ] images list view
- [x] description list view
- [x]  admin view

 Black row lines, single pixel (currently gray) between entries
- [ ] List views
- [ ] Object page (between fields

[2016-10-04 18:14] seeReadCode commented on #48
Square corners isn't trivial for form dropdowns (it's varies by browser and would require a replacement surrogate and a hidden original), cf. http://stackoverflow.com/questions/8927974/css-border-radius-for-the-drop-down-box-when-using-the-select-tag-not-the-sel

[2016-10-04 19:04] seeReadCode commented on #49
I've made some tweaks to improve visibility on the tables but I'm going to hold off on the rest of this list for the time being pending further discussion.

[2016-10-04 19:16] seeReadCode commented on #42
I implemented these and moved the leaderboard below the queues.

[2016-10-04 19:20] #47 closed

[2016-10-04 19:29] seeReadCode commented on #48
@alavatelliMCA ok, I think we are ready for a review now.  thanks!

[2016-10-04 19:30] seeReadCode commented on #37
@sinabahram I'll be starting on this in earnest tomorrow.

[2016-10-04 20:31] sinabahram commented on #37
If we can, let’s synch up before you do?

[2016-10-04 20:51] alavatelliMCA commented on #48
Looks so fantastic! We love it.

The only thing I notice, is that when a button is unavailable it has a mouse over state, it shouldn't react to mouseover, just be unavailable. See screenshots of the mouseover state:

![screen shot 2016-10-04 at 3 19 09 pm](https://cloud.githubusercontent.com/assets/8040710/19090953/508d585c-8a46-11e6-952c-6a75b877dd70.png)
![screen shot 2016-10-04 at 3 14 40 pm](h

[2016-10-04 20:52] seeReadCode commented on #37
@sinabahram will do

[2016-10-04 20:59] alavatelliMCA opened #50 "MCA collection captions not getting pulled by MCA"
I am posting in case y'all have good ideas around this, as it will be a common issue for collections websites.

http://coyote.mcachicago.org/images/12369
https://mcachicago.org/Collection/Items/Buckminster-Fuller-Inventions-Twelve-Around-One-1981-27
The caption isn't being pulled on collection objects.

I am checking with Tomas to see how we can get caption information from collection objects tied

[2016-10-04 21:04] alavatelliMCA commented on #42
I don't understand why it was moved to the bottom of the page, perhaps there is something I am not seeing? The idea to add it was to create incentive to people, being able to see our progress and one's own.  Seeing a zero when I logged in was sad and I immediately wanted to get describing! :)

If it feels too top heavy we can edit the selection of stats down to a shorter list.

[2016-10-04 21:06] seeReadCode commented on #42
@alavatelliMCA I did that only because of your comment about not wanting an unstyled table at the top of the page.  I'm glad to move it back up.  Any other changes you'd like for it?

[2016-10-04 23:40] alavatelliMCA commented on #42
Ah, I see what we currently have as being styled as it matches our design. I thought you had proposed something even more stripped down. Simple misunderstanding!

Functional Question: Seems like everyone is zero on their own stats, if we can't make those work we can scrap it, but it is nice to see personal progress.

For legibility, I would love a comma:
12,422

Here is my list modified with edito

[2016-10-05 18:30] seeReadCode commented on #48
Ok, I've fixed the disabled hover-over.

[2016-10-05 18:30] #48 closed

[2016-10-05 18:46] #42 closed

[2016-10-14 18:38] seeReadCode commented on #50
@alavatelliMCA any word from tomas on this?  I can build out some logic to allow individual title checks.  In this case it looks like the caption is still missing:

https://mcachicago.org/api/v1/attachment_images/57e684797a1daa13e900015d.json

[2016-10-18 15:04] seeReadCode commented on #49
Other concepts
- [ ] Relayout queue after assignment (or other "completion" action)
- [ ] Load more button for queues

[2016-10-18 15:40] alavatelliMCA commented on #50
You know this pointed out to me that there is no way for me to find this image on coyote, because I can only search captions, titles, descriptions and tags. Meaning I can't find it in its original web context to identify why it might not have a caption.

We have a rather large deployment pending with a bunch of very needed (unrelated) fixes so we haven't been able to get into sorting this out on h

[2016-10-18 16:00] sinabahram commented on #50
Just to be clear. Is there a proposed ask here, Anna, or just an observation?

[2016-10-18 16:16] alavatelliMCA opened #51 "Merge users"
![screen shot 2016-10-18 at 11 15 44 am](https://cloud.githubusercontent.com/assets/8040710/19486488/4006fea0-9524-11e6-8f94-cb2b98f5e8d6.png)

Is there any way that we can the two Sheila Majumdar accounts be merged as an Admin account under her MCA email easily?

If not we'll figure something out.

[2016-10-18 16:20] seeReadCode commented on #50
This isn't a bug with Coyote so I'm removing the label for now.

[2016-10-18 16:24] alavatelliMCA opened #52 "Dropdown for assignments"
![screen shot 2016-10-18 at 11 21 12 am](https://cloud.githubusercontent.com/assets/8040710/19486766/4a1760aa-9525-11e6-9f10-af281d57e261.png)

There is an overlap, but the order is making it hard to find names of people to assign, appears to be  by creation date? Could it be alpha?

[2016-10-18 16:25] sinabahram commented on #51
As a “one-time” thing, this may be able to be done, but as a feature, I’ll claim it’s totally out of scope for now.

[2016-10-18 17:28] alavatelliMCA commented on #51
Totally fair, shouldn't be a feature. If at all complicated I can just kill her non-mca account.

[2016-10-18 17:29] alavatelliMCA commented on #50
Observation and update on situation.

[2016-10-18 19:28] seeReadCode commented on #37
Sites to consider:
- http://mcn.edu/
- https://noma.org/
- The Menil Collection
- The Historic New Orleans Collection
- Museum of Applied Arts and Sciences
- Art Gallery of New South Wales
- Yale Center for British Art
- Nasher Sculpture Center
- Corning Museum of Glass
- Minneapolis Institute of Art
- National Museum of the American Indian
- Emory University Libraries
- Amon Carter Museum of Amer

[2016-10-18 22:16] seeReadCode commented on #52
Sort is by last name alpha

[2016-10-18 22:17] seeReadCode commented on #52
I'll fix the overlap (z-index) bug soon

[2016-10-19 17:54] seeReadCode commented on #37
Injection descriptions:
- sightless
- sighted widget

[2016-10-19 18:28] seeReadCode commented on #37
@sinabahram please send or add description/mockup for sighted widget with annotations

[2016-10-20 05:31] sinabahram commented on #37
This has been done but off of git for now since designs/thinking is not finalized for public consumption.

[2016-10-20 15:10] alavatelliMCA opened #53 "Search enhancement"
- [ ] make context field searchable
- [ ] General search across all fields (elastic search? Need to discuss display of results)

A more "global search" For when you don't know which field you want to search–

Currently we have separate search for these fields `Caption`, `Description`, `Tag`, but I think it would be great to have a search that hits all the fields as well as the `path` and `canonica

[2016-10-20 15:12] alavatelliMCA commented on #49
Hi all, with MCN fast-approaching I'd be happy to get on a call to talk about how to make the discovery mechanisms at the tops of the columns more user-friendly, we had proposed moving that whole top row to the left of the listing so that we can reveal more usable search box fields, in the current layout the tags search is only 2 characters wide.

[2016-10-20 18:30] seeReadCode commented on #51
I can do this as a one time fix.  I'll post you when it's fixed.

[2016-10-20 18:37] seeReadCode commented on #49
This change would have some ramifications for accessibility which is my main blocker on this. @sinabahram can we pull the search form out of the table?

Also, these are the layouts you referring to, @alavatelliMCA , right?

![images index split layout from tobey](https://cloud.githubusercontent.com/assets/8710696/19573038/8dd2199e-96d2-11e6-9096-32d6d2484940.png)
![descriptions index split layout

[2016-10-20 18:44] alavatelliMCA commented on #49
Chris, yes these are the correct sketches. In effort to simplify your workflow and meet accessibility performance expectations I am up for proposed alternatives. I had imagined simply maintianing the sort at the column headers and moving the search because you cannot see what you are typing into the field. when it is limited by column width. As a compromise to get the usability improved while work

[2016-10-20 18:48] seeReadCode commented on #49
Thanks!

I'm not advocating for and don't mean to be asking whether we move the sort functionality or the headers: the input fields for the search form are set in an HTML table in part so that they can be accessed easily by screenreader (which causes the readability issues mentioned on smaller screens).

I don't have a decent quick alternative here (other than suggest everyone get larger screens :

[2016-10-20 19:39] alavatelliMCA commented on #53
Also it would be AMAZING if I could search `context` so that I could prioritize sections of the website, such as the learn (education) section that is more highly trafficked.

Thank you!

[2016-10-20 19:50] alavatelliMCA opened #54 "Password reset not working"
A user just tried to reset there password and are getting a Server Error

(server encountered a temporary error...)

Do you need anything from us, like our mandrill account?

[2016-10-21 21:34] alavatelliMCA opened #55 "Regular users - Descriptions at 0 and can't describe"
From a new regular user:
I went to go add the longer style description to the Susanne Simpson, still from Karl Wirsum, but it bounces me to that same empty description page.

![screen shot 2016-10-21 at 4 24 34 pm](https://cloud.githubusercontent.com/assets/8040710/19612457/4aa3eae6-97ac-11e6-9b46-2f8d764e4856.png)

[2016-10-21 22:30] alavatelliMCA opened #56 "Minor bug: search title field error"
When I search "ebony", it reverts to the search I did earlier:
![screen shot 2016-10-21 at 5 27 48 pm](https://cloud.githubusercontent.com/assets/8040710/19613708/d7487d0c-97b3-11e6-9569-48c525e07485.png)

but if I search something that procures results it updates "light":
![screen shot 2016-10-21 at 5 29 32 pm](https://cloud.githubusercontent.com/assets/8040710/19613729/fa72ddc2-97b3-11e6-972c-86

[2016-10-21 22:37] alavatelliMCA opened #57 "A few images not populating on coyote"
There are a few images I have been unable to find in Coyote, and they don't offer the usual link back to coyote from the website either.

Examples:
1.
https://mcachicago.org/Calendar/2016/11/Members-Double-Discount-Days
https://static.mcachicago.org/media/images/W1siZiIsIjU3ZjNkNDgzN2QzZTc3NjY4ODAwMDIwNyJdXQ/Ebony_Gold-Leaf_Neck.jpg?sha=e093a391b4d2315c
Caption (when any word searched on coyote im

[2016-10-21 22:44] alavatelliMCA opened #58 "Improvements to interface"
Below are some additional tweaks to improve the tool, I defer to y'all on how you'd like to break this out into the phases of development.
- [x] quick jump to ready to review to skip to bottom of page for admin
- [x] remove text controls and preview window below edit window (it's just confusing), scale of edit window default to larger. We have not used styling once since launch of coyote.

---

-

[2016-10-21 22:45] alavatelliMCA commented on #54
Update - still waiting on a response from MCA helpdesk on SMTP account set up for sending.

[2016-10-24 17:44] #52 closed

[2016-10-24 17:45] seeReadCode commented on #54
@alavatelliMCA any word from the help desk?

[2016-10-24 17:47] seeReadCode commented on #50
@alavatelliMCA this issue is effectively an issue with MCA rather than Coyote.  Can we close it?

[2016-10-24 17:48] alavatelliMCA commented on #54
I will follow up with them, there is a significant delay in responses to non-emergencies as MCA offices have been renovated and reorganized throughout the museum over the past few weeks and continuing through the next few. So they have a ton on their plate.

[2016-10-24 17:54] seeReadCode commented on #56
@alavatelliMCA
1. I can't replicate the main issue here of Coyote searching for a previous query instead of the latest query. Please provide exact steps.
2. I don't understand what you mean by "light" here.
3. Our taxonomy of `caption` versus `title` is a bit confused.  @sinabahram can I just switch us from title to caption across the board?

[2016-10-24 18:12] alavatelliMCA commented on #58
More thoughts on this:

When an image marked priority has been described (even if partial) AND the description is approved it should not appear in the unassigned queue, right?

I will unprioritize these recently described (and approved) images, but a future improvement could be to remove the priority tag once a description has been approved.

http://coyote.mcachicago.org/images/12510

[2016-10-24 18:16] alavatelliMCA commented on #50
Well, one of the reasons I flagged this issue is that it is common for the asset to be separated from the caption on collection websites as the data is pulled from two different sources, a collections management system and a digital asset management system. So this could be a many museum issue affecting public instance, or future installs, not just an MCA issue.

I am making an inquiry with Tomas

[2016-10-24 18:22] seeReadCode opened #59 "Pagination bug when multiple pagination frames on page"
http://coyote.mcachicago.org/admin/users/5

[2016-10-24 18:26] seeReadCode commented on #51
Done: http://coyote.mcachicago.org/admin/users/5

[2016-10-24 18:26] #51 closed

[2016-10-24 18:37] seeReadCode commented on #55
This is as designed. A non-admin user can only describe images that they have been assigned.

[2016-10-24 18:55] alavatelliMCA commented on #55
I guess we didn't realize this was how it was designed.
This explains some of the hold up in descriptions as the admin team is small and not always able to keep up with assignments. Users should always be free to describe as they wish, activity should not be limited, we maintain a moderation layer so there is no harm in collecting more descriptions.

The expectation is the following:

1. Users can

[2016-10-24 18:59] seeReadCode commented on #50
Understood.

I think we should pursue this broader design conversation.  I thought to add the latest timestamp on the home page as a result of this issue.  But I wince every time I look at the issue list and see the title of this issue and then I remember that it's not really an active issue for me.  I'll alter the title to clarify.

[2016-10-24 19:08] seeReadCode commented on #57
@alavatelliMCA I ran the updater back across these dates and these got uploaded.  I'm not sure what caused them to get missed.  Let's keep an eye on new images coming into the system over the next week to see if any other similar issues come up.

Here are these:
1. http://coyote.mcachicago.org/images/12569
2. http://coyote.mcachicago.org/images/12561
3. http://coyote.mcachicago.org/images/12591

[2016-10-24 19:08] #57 closed

[2016-10-24 19:33] seeReadCode commented on #55
addressed in 2f52a9 and 5ade5b9

[2016-10-24 19:36] seeReadCode commented on #58
@alavatelliMCA images appear in the unassigned queue if they have not been assigned.  Do you want me to filter and label such that the 'Unassigned' queue becomes the 'Unassigned and undescribed' queue?

[2016-10-24 19:37] seeReadCode commented on #56
The core issue should be fixed now.

[2016-10-24 19:46] alavatelliMCA commented on #56
To clarify, if you search for something that has no results the field reverts to the contents of the previous search. I seach `ebony`, it procures 0 and displays `Kerry untitled` in the search field (my previous search). However when I search `light` the field maintains that content and displays results.

HOWEVER, I have investigated search further and find search to be misconfigured.

It seems to

[2016-10-24 19:50] seeReadCode commented on #56
The search for `Kerry James Marshall, _Untitled` returns 33 results.  The field is searching across Markdown text (which is how it's stored in the DB).

Also, the core issue has been fixed as far as I can tell.

[2016-10-24 20:09] #59 closed

[2016-10-24 20:22] alavatelliMCA commented on #56
Right, I realized that was what was happening (though not knowing it was Markdown). Search should be based on `AND` to make images more findable, exact phrase searching really makes trouble for finding results, especially when you don't know the text styling.

It's also a high expectation for regular users to know that search only works with exact phrase so they can't simply search `Kerry Untitled

[2016-10-24 21:30] seeReadCode commented on #56
@alavatelliMCA then let's move that request to another issue and close this one.  Making search both fuzzy and run across multiple fields will likely mean we need to start an indexing service (ie. not a quick fix).

Also, it might make sense to consolidate our "not now but later" asks and enhancements into one issue titled Backlog.  That way we won't have to search across multiple issues to figure

[2016-10-24 21:31] seeReadCode commented on #55
@alavatelliMCA  please close if you are happy with this implementation for now and move future enhancements out to a separate issue.

[2016-10-24 22:03] alavatelliMCA commented on #55
Any future enhancements will go into backlog or a separate issue. Thank you!

[2016-10-24 22:03] #55 closed

[2016-10-24 22:11] alavatelliMCA commented on #58
Yes this sounds like a more efficient workflow. Thank you!

[2016-10-24 22:21] alavatelliMCA commented on #56
As for search, is caption not imported as a single field? I think there is further enhancement to be discussed #53, but for this case what I am seeking is a simple modification to be able to use multiple keywords instead of an exact phrase as it is very hard to find objects that way.

e.g. knowing to type out `Kerry James Marshall, _Untitled` rather than `Marshall Untitled` hinders the efficiency

[2016-10-25 03:07] seeReadCode commented on #56
Ok, I think I've got space-delimited `AND`-style searching working.  Give it a spin!

[2016-10-25 15:44] alavatelliMCA opened #60 "Support page (instead of email link)"
Rather than link to your email we'd love to have a page for more extensive information about describing, links to resources in addition to a link to email support.

Is this something that we would be able to edit or would you like comprehensive content? (in github is fine if that is the only way).

[2016-10-25 15:48] alavatelliMCA opened #61 "Text content changes - homepage and help text"
**Homepage (before logging in)**

The open-source Coyote software was developed by the Museum of Contemporary Art Chicago to support a distributed workflow for describing images in our web CMS and publishing those descriptions to our public website. The MCA team is creating both alt-text descriptions of 20–30 words, as well as much longer descriptions, particularly of collection works.

Coyote off

[2016-10-25 16:37] alavatelliMCA commented on #56
Love it.

[2016-10-25 16:37] #56 closed

[2016-10-25 16:57] alavatelliMCA commented on #61
**And the footer:**

Coyote is a project of the Museum of Contemporary Art Chicago in collaboration with Prime Access Consulting. It has been generously supported by Lois and Steve Eisen.

[2016-10-25 18:22] sinabahram commented on #56
Switching us “to caption” is perfectly fine. title has a specific definition, and one we should not be using anywhere.

[2016-10-25 18:22] sinabahram commented on #61
This is great

[2016-10-25 18:23] sinabahram commented on #49
Let’s talk through it on a call between Chris and Sina RE accessibility. I think this is possible.

[2016-10-25 19:02] alavatelliMCA opened #62 "Change "Title" to "Caption"

[2016-10-25 19:03] alavatelliMCA opened #63 "Change "Title" to "Caption""
As Sina concurred making this a task to tend to.

Change "Title" to "Caption" especially as these are labeled as `caption` in the homepage view

[2016-10-26 19:29] seeReadCode commented on #62
dupe

[2016-10-26 19:29] #62 closed

[2016-10-27 00:42] #61 closed

[2016-10-27 00:45] #63 closed

[2016-10-27 00:56] seeReadCode commented on #60
Here's your page you can edit on Github:
https://github.com/coyote-team/coyote/blob/master/app/views/pages/_support.md

When you are happy with it, let me know and I'll change out the support link and deploy.

[2016-10-27 14:47] alavatelliMCA commented on #61
Will these changes also be made in the public instance?

[2016-10-27 14:48] seeReadCode commented on #61
They are live at http://coyote.mcachicago.org or do you mean elsewhere?

[2016-10-27 14:49] alavatelliMCA commented on #61
I meant for the instance that runs the bookmarklet.

[2016-10-27 14:56] seeReadCode commented on #61
Right now it would be live on any instance.

[2016-10-27 14:57] alavatelliMCA commented on #61
Fabulous! Thank you.

[2016-10-27 17:04] alavatelliMCA commented on #54
The account is set up as SMTP, so assuming it was working before the only reason it wouldn't is if there is a change on your end.

[2016-10-27 17:45] alavatelliMCA opened #64 "pagination bug on search"
After running a search when multiple pages are generated you click "next" and the page doesn't render.

![screen shot 2016-10-27 at 12 43 37 pm](https://cloud.githubusercontent.com/assets/8040710/19778607/29e52338-9c43-11e6-932d-f079dc7643da.png)

link it is trying to load after clicking next:
http://coyote.mcachicago.org/images?button=&image-id%5B103%5D=0&image-id%5B11213%5D=0&image-id%5B11463%5D

[2016-10-28 18:34] #64 closed

[2016-10-28 18:37] seeReadCode commented on #54
I still can't get these creds to work and the webmail page still says the account is not setup for SMTP.  I deployed with a coyote.daemon@gmail.com account that I created yesterday just so we could have password reset work and tested and it's working.  I'm closing this issue for now.  Please let me know if you get a working SMTP email creds for me or can get me on the phone with your IT/email folk

[2016-10-28 19:34] seeReadCode commented on #61
@alavatelliMCA might we add a link to this repo in the homepage text, in the footer, or both?

[2016-10-28 19:53] alavatelliMCA commented on #61
We are just going to put it on Coyote.pics the project information website that is linked to from the homepage, what is the link I should use?

[2016-10-28 20:47] seeReadCode commented on #61
https://github.com/coyote-team/coyote

[2016-10-29 22:11] sinabahram commented on #20
I think we can close this out now.

[2016-10-31 01:24] seeReadCode opened #65 "back click shouldn't fade out page"
or should at least fade it back in!

[2016-10-31 16:02] #65 closed

[2016-12-20 16:09] alavatelliMCA commented on #54
Thank you for the workaround solution. If still desired to have a call with IT please let me know and I'll set up.

In the meanwhile we have a new problem with password reset, After resetting the password my users are getting cued to login screen with a red error message that reads:
`You need to sign in or sign up before continuing`

as shown here:
![screen shot 2016-12-20 at 10 00 00 am](https://

[2016-12-20 16:48] seeReadCode commented on #54
@alavatelliMCA If the password reset email is being sent, the status message here is not in fact inaccurate: the user will need to finish creating a new password via the email before continuing.  If you'd like the message hidden in this instance, that could be done.

No need for the IT call.

[2016-12-20 17:44] alavatelliMCA commented on #54
Ah, I see. I think the message threw everyone off as there is nothing that says they successfully reset their password, I failed to follow through and ask if their new password indeed did work.

However, hopefully you can see something on the backend, for SSkalitzky@mcachicago the password reset is not working. I just sat next to her watching her reset it twice and it definitely doesn't seem to re

[2016-12-20 19:16] seeReadCode commented on #54
@alavatelliMCA there was in fact a bug here: the form was being submitted to the wrong endpoint.  Not sure how that got past me in October but in any case it's fixed now (both the underlying issue and the message).  The user should now be logged in after they submit their new password.

[2016-12-20 19:16] #54 closed

[2016-12-22 18:18] alavatelliMCA opened #66 "Assigned images not appearing in the user's queue"
When Matti Allison is logged in despite my having assigned her images no images appear in her Queue.

[2016-12-22 18:22] alavatelliMCA opened #67 "Filter search failure"
when multiple elements are selected in filtering no results appear. The text appearing under the blank list show a search is `art "1" kjm "1"`
<img width="1424" alt="screen shot 2016-12-22 at 12 17 58 pm" src="https://cloud.githubusercontent.com/assets/8040710/21435770/2271dba8-c841-11e6-858b-806613c77a90.png">

If only one of the filtering items is used only `priority` or only `unassigned` it wor

[2016-12-22 18:29] alavatelliMCA commented on #58
More improvements:
- [ ] enlarge image for closer looking to describe
- [ ] quick jump to ready to review to skip to bottom of page for admin

[2016-12-22 18:38] alavatelliMCA commented on #67
More on this, we figured out that descriptions that are Partially Completed and Ready to Review only show up in Partially Completed. So when searching Partially Completed and Priority we see the ones that are missing, but we also see the approved descriptions.

This issue is for administrators who are trying to search for descriptions that need review in this list window. So some admins aren't usi

[2016-12-22 18:56] alavatelliMCA opened #68 "Improve tag display on image index"
- [ ] Remove the display of tag cloud.
- [ ] Tags in search should be dropdown quantity displayed after the tag in parens:

edited by @seereadcode 2017/03/22

---

At the bottom of every list view one finds these same links labeled `Art "1" kjm "1" `

![screen shot 2016-12-22 at 12 36 16 pm](https://cloud.githubusercontent.com/assets/8040710/21436758/c5d32b04-c845-11e6-9c62-4837479bfae6.png)

[2016-12-22 19:00] alavatelliMCA opened #69 "Updating context over time"
Coyote needs to sync on context-
http://coyote.mcachicago.org/images/11666 shows an image with a context at http://admin.mcachicago.org/Support/Membership which is an outdated subdomain, but also no longer displays that image. Let me know what support you would need from Tomas on resolving this this.

screenshot of http://coyote.mcachicago.org/images/11666 :
<img width="1422" alt="screen shot 2016

[2016-12-22 19:06] alavatelliMCA opened #70 "Resolving duplicates"
We have many duplicates from before we had a central asset repository, there is a workaround–copy-pasting from one to the next, and perhaps beings that it is rare for a website not to have a central asset repository this is something we should stick to resolving on our own. But wanted to flag and note this potential feature, as we would want coyote to get cleaned up once we fix our duplicates on t

[2017-01-18 22:02] alavatelliMCA opened #71 "Users do not appear in any particular order in dropdown lists"
On images list page the users are in no particular order:

Assign to
![screen shot 2017-01-17 at 6 25 21 pm](https://cloud.githubusercontent.com/assets/8040710/22082817/f64bc9d6-dd8e-11e6-846a-e94b3f95fed2.png)

and assigned to filter
![screen shot 2017-01-17 at 6 29 43 pm](https://cloud.githubusercontent.com/assets/8040710/22082806/ec106b98-dd8e-11e6-9136-b0c8f1336fa8.png)

[2017-01-19 17:53] alavatelliMCA opened #72 "User accounts getting mixed up in audit log"
Yesterday Sheila and I were working on descriptions together, we were the only two users involved in the editing and approving process. However now two other names are appearing in place of my own.
http://coyote.mcachicago.org/descriptions/4787
![screen shot 2017-01-19 at 10 45 54 am](https://cloud.githubusercontent.com/assets/8040710/22118242/9ef5cb74-de3c-11e6-81c5-abc3d86c1590.png)

Sheila was

[2017-01-23 18:05] alavatelliMCA opened #73 "sort by date on descriptions"
This would help with troubleshooting, we are trying to target issue with description sync issues with the website and being able to sort by date would enable me to hone in on the issue.

http://coyote.mcachicago.org/descriptions

[2017-03-03 19:05] alavatelliMCA opened #74 "Archiving images that have been removed or duplicated from the site"
We have some images that have been removed from the website but may be hiding in the central asset repository that should be archived or something in the coyote interface. This is an example where we were having a display error on an image due to CMYK settings so we reuploaded a couple times to fix it, but only the last one is correct. You can see in the context field they all point to the same pa

[2017-03-10 23:49] alavatelliMCA opened #75 "After assigning images disappear leaving a white blank space"
After assigning images they disappear leaving a white blank space, no new material comes up in the queue.

![screen shot 2017-01-19 at 1 39 08 pm](https://cloud.githubusercontent.com/assets/8040710/23817581/d5729e80-05b9-11e7-8a36-4cf238a8e893.png)

[2017-03-14 18:53] alavatelliMCA opened #76 "Footer on Coyote"
@sinabahram it appears you have added a link to the bookmarklet to Coyote's footer. We are concerned that our staff might use this not realizing it is a totally separate tool that will not populate our website with descriptions.

The text:
Add this Coyote bookmarklet to your bookmarks and click it to add more images, describe them, and render their annotations
Warning: this feature is in developme

[2017-03-14 20:42] alavatelliMCA opened #77 "General users should be able to see changes to their descriptions"
I've had a couple users reach out to me because they aren't sure what has been changed about their description in the approval process. It seems that only administrators can see the change log on descriptions. General users should be able to see how their descriptions have been changed by the administrators for learning purposes.

Thank you.

[2017-03-15 00:50] sinabahram commented on #76
Sorry, that push was supposed to only be for the coyote.pics instance. Furthermore, I agree RE grammatical mistakes, etc.

Another thing on the todo list should be to prioritize easy content changes like this so that they do not necessitate a code push.

Let’s also discuss further by voice.

[2017-03-15 15:03] seeReadCode opened #78 "Automate code deploys"
Can we encapsulate code updates in server

- [x] terminal based deploys configured
- [x] compares commits and shows status
- [x] db dumps pre:deploy
- [x] current tar.zip rsync
- [x] job runner with button
- [x] test

missing conf updates could cause crashes

c.f. https://github.com/webonise/capsize

[2017-03-15 15:05] #20 closed

[2017-03-15 15:12] seeReadCode opened #79 "Automate provisioning"
Given an up-to-date Ubuntu with SSH access, install via one liner wget like `wget -qO- https://raw.githubusercontent.com/coyote/coyote/bin/install.sh | bash`

- [x] Launch warhol
- [x] nginx improvements from sina
- [x] setup SSL
- [x] Log rotate setup
- [x] disable rollbar if no access token set
- [x] Automate apt update
- [x] Seds
- [x] readme
- [x] Test on new box:

Later

- Add field for front

[2017-03-15 15:29] #33 closed

[2017-03-15 21:56] seeReadCode commented on #74
@sinabahram simplest approach would be that we could add a new boolean for ignore, add it to the form and show view, and then modify the scopes.

[2017-03-15 21:57] seeReadCode commented on #73
@alavatelliMCA which date are you thinking of?  The "created at" date or the "updated at" date?

[2017-03-15 21:59] seeReadCode commented on #72
I'll see if I can replicate this.

[2017-03-15 22:01] seeReadCode commented on #71
Correct me if I'm wrong @alavatelliMCA but users are alphabetized by last name in the 'Assign To' dropdown, no?  There might be some glitches based on how the names are inputted.  I see on the filter that they have not been sorted though.

[2017-03-15 22:02] seeReadCode commented on #70
Also relates to #74

[2017-03-15 22:07] seeReadCode commented on #68
@alavatelliMCA those are tags with counts.  I imagine we'd rather they read something like: art(1), kjm(1).  If you click either tag, you will see the images that have the tag.  Edit the image and remove the tag, and it'll no longer display.

[2017-03-15 22:21] seeReadCode commented on #67
@alavatelliMCA I'm seeing a slightly different issue.

Here are Priority images that are Ready to Review:

![screen shot 2017-03-15 at 6 08 09 pm](https://cloud.githubusercontent.com/assets/8710696/23972984/7b8b675e-09aa-11e7-8550-5bb0d841c14c.png)

Here are Priority images that are Partially Completed:

![screen shot 2017-03-15 at 6 08 09 pm](https://cloud.githubusercontent.com/assets/8710696/239

[2017-03-15 22:23] seeReadCode commented on #66
I just tested assignment and it seemed to work.  Could you provide any more details?  Is this issue still occurring?

[2017-03-15 22:24] seeReadCode commented on #60
@alavatelliMCA I noticed you've made some updates for this so I imagine you are ready to have this link switched out and the change deployed.

[2017-03-15 22:26] seeReadCode commented on #58
I moved the new suggestions from the previous comment up into the main text above so they are tracked more clearly in Github.

[2017-03-15 22:28] sinabahram commented on #74
Agreed. The real question here is whether or not this deserves state e.g. “deleted” as opposed to “ignore”?

[2017-03-15 22:31] seeReadCode commented on #74
I'd say let's use `delete` with audited record.  This will take a bit of testing to make sure the scoping all works out correctly but I think it'll be a bit cleaner in the long wrong.

[2017-03-15 22:35] sinabahram commented on #74
Agreed.

[2017-03-15 22:35] seeReadCode commented on #21
If this isn't an active ask, I'm going to close it.

[2017-03-15 22:37] seeReadCode commented on #17
closing as its duped by #74

[2017-03-15 22:37] #17 closed

[2017-03-15 22:37] seeReadCode commented on #14
also dupe of #74

[2017-03-15 22:37] #14 closed

[2017-03-15 22:39] #70 closed

[2017-03-15 23:11] alavatelliMCA commented on #73
I think for reviewing it is useful to look at "created at" date

For troubleshooting sync it would be the "approved at" date.

This is lower priority in the grand scheme of enhancements.

[2017-03-15 23:15] alavatelliMCA commented on #71
True. In the "Assign to" they are alphabetized by last name, as they are on the users list view. However, in the filter dropdown they are not sorted.

[2017-03-15 23:18] alavatelliMCA commented on #68
Your explanation makes sense–However, this appears at the bottom of all views. Does this mean if we start using the tagging feature more all tags will start appearing on all pages at the bottom with counts in quotes? perhaps it is just a formatting discussion.

[2017-03-15 23:22] alavatelliMCA commented on #60
Yes! Thank you!

[2017-03-15 23:23] alavatelliMCA commented on #66
Duplicate accounts, I didn't realize she created two. Future feature: merge accounts?

What happens the the descriptions of a user if they are "deleted" can we have an Archive user instead?

[2017-03-15 23:34] seeReadCode commented on #68
They display on all variations of the `/images` index but that tag cloud shouldn't appear on any other pages.  But yes, if you use more tags, they will display there.

[2017-03-16 13:26] seeReadCode commented on #67
Testing with <http://localhost:3000/images/9361>...

[code]

[2017-03-16 13:58] seeReadCode commented on #67
Ok, this should be fixed now

[2017-03-16 14:04] seeReadCode commented on #66
I've done the merges by hand thus far (only one or two occasions if I remember correctly) but you should be able to do this without too much issue.

Here's how:

1. Change the name of the old user to clarify things.
2. From that user's pages, open the edit link to each of their images and set the the author to the correct user record and save.
3. Delete the old user record.

If an author is delete

[2017-03-16 14:34] seeReadCode commented on #21
K, this one is active. I'll edit more in the main text above to clarify requirements.

[2017-03-16 16:52] alavatelliMCA opened #80 "Tag functionality"
Full tag functionality:
- Edit
- Combine
- Delete

Via a tag admin page

[2017-03-16 16:59] alavatelliMCA commented on #68
Remove the display of tag cloud.
Tags in search should be dropdown quantity displayed after the tag in parens:

`kjm (1)`

[2017-03-16 17:21] alavatelliMCA opened #81 "Publish to function"
Need a function for selecting what descriptions are published where when there are multiple approved descriptions.

e.g.
Publish to web
Publish to digital map

[2017-03-16 17:31] alavatelliMCA opened #82 "View All Descriptions button and Descriptions buttons should be removed"
"View All Descriptions" button on images is confusing, easily confused with viewing all descriptions for this image. This should be removed.
<img width="964" alt="screen shot 2017-03-16 at 12 29 40 pm" src="https://cloud.githubusercontent.com/assets/8040710/24009934/66ba0598-0a44-11e7-9471-f761fb780169.png">

So should the button "Descriptions" on the image page.
<img width="961" alt="screen shot

[2017-03-20 16:33] seeReadCode commented on #69
When an image changes context on the CMS, Tomas needs to send a PUT to the appropriate image with the new `page_urls` value, see http://coyote.mcachicago.org/apipie/1.0/images/update.html

[2017-03-20 16:44] alavatelliMCA opened #83 "Broken images - and out of date image context links"
There are some broken images showing up in the collection group. Some have no context, some do. Image appears as broken: http://coyote.mcachicago.org/images/8785
But there is an image on the page for context: http://admin.mcachicago.org/Collection/Items/Rafael-Ferrer-Bituki-Bakilin-Bin-Bin-1974

Also, the URL is old on the collection images, they show admin.mcachicago.org as the context. Maybe the

[2017-03-20 16:47] seeReadCode commented on #83
This may not well be a coyote issue but an MCA site issue.

This is the image that is in that record (but doesn't exist).
https://mcachicago.org/api/v1/attachment_images/thumbs/56b6063fa6ad051fd60003b6.jpg

Please follow up with Tomas and feel free to loop me in on an email.

[2017-03-21 19:18] seeReadCode opened #84 "Allow /Images API to cut off by updated_at"
From Tomas:

[2017-03-21 20:31] seeReadCode commented on #84
Also https://github.com/coyote-team/coyote/commit/a5f19eadf2582760b0c0de2505baff18159b0327

[2017-03-21 20:48] #67 closed

[2017-03-22 15:08] seeReadCode opened #85 "Search query params shouldn't be included if blank/unselected"

[2017-03-22 15:31] seeReadCode commented on #83
Here's another record for that image.
http://coyote.mcachicago.org/images/12870

[2017-03-22 20:03] alavatelliMCA opened #86 "account/logout/support"
In Chrome: Nothing happens when I click on my user name in the right corner to try to log out.

In Safari: Nothing happens when I click login, only lets me sign up for a new account.

[2017-03-22 20:29] seeReadCode commented on #86
The javascript file wasn't being served.  This should be fixed now.

[2017-03-22 22:55] #66 closed

[2017-03-22 23:35] seeReadCode commented on #79
On next setup test and confirm these:

- [ ] Automate SSL and SSL update
- [ ] Add field for front matter ( `website.intro`?)
- [ ] Test conf routine
- [ ] Seeds sed
- [ ] Nginx sed
- [ ] Test provisioning
- [ ] Log rotate (warhol)
- [ ] Automate apt update  (warhol)

[2017-03-22 23:40] sinabahram commented on #79
Question: what are the two with (warhol) signifying?

My plan is to re-do the Warhol server once this is ready to go.

Would spinning up a box for a day or two to test this be helpful?

[2017-03-22 23:42] seeReadCode commented on #79
Ah, ok, in that case, I'll add those two into the script tomorrow and we can redo this from scratch.  Checking the log for the 404 stuff right now.

[2017-03-22 23:46] seeReadCode commented on #79
So, the only issues I'm seeing in the log thus far are bot attacks for things like `/mysql/dbadmin`.  @sinabahram did you have a more specific bug report from the Warhol folks?

[2017-03-22 23:50] sinabahram commented on #79
from Warhol's WP folks:

I am having trouble with the 'DELETE' and 'PUT' methods on images (receiving 404s). Here is the URL i'm using:

http://coyote.warhol.org/images/1.json

Am I getting the endpoint wrong? Do I need elevated user access? I'm able to POST images just fine

For the PUT, i'm using the same body as the POST but with the 'path' attribute altered.

For DELETE i'm not including a bod

[2017-03-23 00:03] seeReadCode commented on #79
Updates and deletes are restricted to admins currently so yes, they need an admin flag.

[2017-03-23 00:05] sinabahram commented on #79
This should be discussed. A delete makes sense, but an update, maybe not?

[2017-03-23 00:11] sinabahram commented on #79
Also, is it possible to give such feedback in the 403 response?

Do such attempts result in 403 or 400? 403 seems appropriate, yes?

[2017-03-23 00:12] seeReadCode commented on #79
Agreed but this stream of thought belongs in a separate issue.

[2017-03-23 00:13] seeReadCode commented on #79
I made Daniel an admin so he can continue testing for now.

[2017-03-23 12:45] seeReadCode commented on #50
@alavatelliMCA are these collection captions coming thru now?

[2017-03-23 12:46] seeReadCode commented on #83
See also https://github.com/coyote-team/coyote/issues/50

[2017-03-23 16:54] seeReadCode opened #87 "API /images/1.json update and delete error message should be correct"
- [ ] clarify 400, 403, 404 for PUT and DELETE
- [ ] test other API error messages

[2017-03-23 19:17] seeReadCode opened #88 "Image must have owner who can update and delete (along with admins)"

[2017-03-28 15:14] alavatelliMCA opened #89 "Additional enhancements"
User feedback on the admin side, low priority.

- I want to find descriptions approved by a particular user
- Assignments list view not usable http://coyote.mcachicago.org/assignments, needs to include thumbnail and description status, and useful to know if priority
- Admin should be able to adjust user settings. e.g. create admin users or change admin users to standard users.
- Users list, date o

[2017-03-28 15:14] alavatelliMCA commented on #81
For publishing feature:
I want to publish different descriptions of the same image to different contexts

e.g. Image appears on collection page and also in a blog post, I want a different description for each context.

[2017-03-28 15:48] sinabahram commented on #81
This is a built-in feature of Coyote. Nothing is needed to be developed here, however, the blog needs to request the blog context and the website the main site context and a sales page a sales page context, etc.

[2017-04-05 23:14] #60 closed

[2017-04-05 23:14] #71 closed

[2017-04-05 23:14] #75 closed

[2017-04-05 23:14] #76 closed

[2017-04-05 23:14] #77 closed

[2017-04-05 23:14] #82 closed

[2017-04-05 23:14] #86 closed

[2017-04-05 23:14] #84 closed

[2017-04-05 23:14] #78 closed

[2017-04-05 23:14] #79 closed

[2017-04-05 23:14] #21 closed

[2017-04-14 18:20] alavatelliMCA opened #92 "Admin homepage user feedback"
Admin user feedback:

- Combine first two queues: Undescribed and unassigned images, many of those in undescribed list are already assigned and many of those in unassigned are already described. Main action from this list is to assign, and we don't need to assign already described images nor assign undescribed images that are already assigned. Perhaps this queue includes filter options for the mom

[2017-05-01 17:04] subelsky commented on #13
@alavatelliMCA I think I can help with some of the outstanding items here (seems like the easiest place for me to start helping). Lmk if there's a particular place I should start. Or if we could do a quick skype call to get oriented or save typing

[2017-05-02 19:00] subelsky commented on #68
@alavatelliMCA @sinabahram I found an easy way to make this change, but a plain-vanilla HTML dropdown box won't work well in this context. I believe it will be necessary to use a JavaScript extension such as jQuery select [demo'd here](http://labs.abeautifulsite.net/archived/jquery-multiSelect/demo/). But that would make the search page less accessible, non-semantic. Since I just started working o

[2017-05-16 17:49] alavatelliMCA opened #94 "Title should not be an editable field"
Title is imported from the website with the image, but is an editable field in coyote posing sync conflicts.

Please update Title to be non-editable.

[2017-05-19 16:58] subelsky commented on #83
Per @sinabahram a first, helpful idea would be to flag images that seem to be available.  We could have a cron job periodically checking for 404s.

Another idea would be to attempt to fallback to Internet Archive.

[2017-05-19 17:01] subelsky commented on #81
per @sinabahram this may be solved with enhanced documentation that clearly spells out what metadata attributes really mean as the project has evolved - metum, context, etc.

[2017-05-19 17:04] subelsky commented on #74
per @sinabahram this would involve finding a good reverse-image search API (part of the cron job I mentioned in #83 )

[2017-05-19 17:06] subelsky commented on #72
hi @alavatelliMCA have you seen this again? If not is it OK to close it? We can always re-open.

[2017-05-19 17:08] susanchun commented on #81
Welcome @subelsky. Team: I think that we're all talking about different things here. Anna is asking about how we privilege one of multiple descriptions for publication. Sina is talking about better developing our context definitions. And Mike is correct, we need a data dictionary. Let's plan an all-dev Coyote call some time soon to work through open issues and prioritize and schedule them.

[2017-05-20 20:14] subelsky opened #95 "Consider falling back to Internet Archive for missing/broken images"
This could be a potential solution to the issues in #83 and #74

[2017-05-20 20:16] subelsky opened #96 "Create worker to conduct periodic checks of images"
This could help solve the issues in #83 and #74; a cron job that regularly checks for the availability of images and marks them as missing if they can't be found

[2017-05-20 20:34] subelsky opened #97 "Create basic system admin screen"
@sinabahram what are the key 2-3 things you'd like to see here? You mentioned password reset, anything else?

Can we use the app's existing ACLs to restrict access to this screen or do you want to add a new role for superusers?

[2017-05-20 21:50] sinabahram commented on #96
Totally agreed, and happy to combine into one issue if you feel that’s best.

[2017-05-20 22:16] sinabahram commented on #97
I think that a super-user role is appropriate here, but I would be ok with trialing it in admin access for now, so that we can get things working, since restricting access can always be a progressive enhancement.

Password reset makes sense

It would also be incredibly helpful to have access to environmental variables here, though. Right now, the environment of the installed location matters a gre

[2017-05-20 22:55] #94 closed

[2017-05-20 22:56] subelsky commented on #94
@alavatelliMCA This change means you can't change the title on images that have already been loaded into the database. It will show up in the software next time we deploy. I didn't get into that with @sinabahram yet. Ideally I would like to build a staging server on Heroku where we could test out changes like this

[2017-05-20 22:58] sinabahram commented on #94
Happy to use live.coyote.pics for staging as well.

[2017-05-20 22:59] subelsky commented on #68
@sinabahram I believe this jQuery plugin would serve:

https://a11y.nicolas-hoffmann.net/autocomplet-list/

It looks like it would be accessible, but I'm not yet trained to know for sure :-)

[2017-05-20 23:00] subelsky commented on #94
@sinabahram in that case let me know how to deploy there & I'll try it out

[2017-05-20 23:06] sinabahram commented on #94
Instead of using the old deploy system, let’s spin up another one and transition it over.

Voice coms will help figure this plan out.

[2017-05-20 23:07] sinabahram commented on #68
I’m familiar with that one, but it needs some serious help.

Currently, no notification that suggestions are available, wrapping the list is super iffy, etc.

[2017-05-22 12:56] subelsky commented on #96
I'm going to close those 2 issues in favor of this one. The key ideas seem to be:

- [ ] Add async worker capability (probably [Sidekiq]() because I have a lot of experience with it, the author @mperham is a genius, and it is battle-hardened code, also there is a paid, supported version that would be important for serious institutional use

- [ ] Add something to our data model that keeps track of

[2017-05-22 12:56] subelsky commented on #83
We are going to pursue a solution to this issue in #96 , closing this issue for clarity

[2017-05-22 12:56] #83 closed

[2017-05-22 12:57] subelsky commented on #74
We are going to pursue a solution to this issue in #96 , closing this issue for clarity

[2017-05-22 12:57] #74 closed

[2017-05-22 13:00] subelsky commented on #97
A lot of these problems could be solved by implementing a modern devops architecture. I need to dig further into how the current system is deployed etc to be able to say more. But for example if Coyote were hosted on Heroku you would instantly have access to all `ENV` and could change them w/o a reboot

[2017-05-22 16:25] sinabahram commented on #96
I think states that make sense are:

Active

archived

Deleted

Not found

Unexpected Response (for example, what if we get a 301/302? Instead of rewriting on our end, we may wish to verify that’s for real and not a temporary server down issue, for example)

Thoughts on others?

[2017-05-23 13:15] subelsky commented on #96
That's a good start, not hard to extend. I like the idea of an "unstable" type of category, like you only go to `deleted` if an image in the `unstable/unexpected` is found to be missing for a 2nd or 3rd time

[2017-05-30 16:12] alavatelliMCA commented on #92
One more for admin functions–
http://coyote.mcachicago.org/admin/users/12 when looking at a user's list of descriptions it would be nice to be able to see date of description and date of approval. This is especially useful for tracking down bugs, but also nice to be able to see activity levels so that we can encourage people who seem to have stopped describing.

[2017-05-30 16:16] alavatelliMCA commented on #72
It's hard to identify exactly where the mixups occur, the example I provided was the one where we caught it right after it happened. We'll track down some more examples, we've continued to see this behavior on occasion.

[2017-05-30 20:02] sinabahram commented on #68
I want to add this resource here for us to consult.

Anatomy of an Accessible Auto Suggest

http://uxmastery.com/anatomy-of-an-accessible-auto-suggest/

I’m not claiming that’s perfect, but it covers a whole lot of the basics. Super happy to discuss further.

[2017-07-17 15:14] subelsky opened #100 "Streamline new developer setup process"

[2017-07-17 16:06] #100 closed

[2017-07-17 18:30] subelsky opened #102 "Setup basic documentation site with YARD"
Eventually we can have travis build this and push somewhere, but using github pages will get us a long way there

[2017-07-17 18:31] #102 closed

[2017-07-17 19:49] subelsky opened #103 "One-click Heroku installation for easy experimentation/testing"

[2017-07-18 17:12] subelsky opened #104 "Simplify .env configuration parameters (helps #103)"

[2017-07-19 00:21] #104 closed

[2017-07-19 00:56] subelsky opened #105 "Audit Gemfile"
There is some overlap and some gems may not have been used

[2017-07-19 01:36] subelsky commented on #105
Addressed in 5c49f66, 7a9d00c, and 49aeef2

[2017-07-19 01:36] #105 closed

[2017-07-19 01:49] subelsky commented on #103
Ran out of time to get this working but we're close. Just need to figure out a smarter way to seed a MySQL database during Heroku app initialization. If anyone revisits this, the code can be found in [commit 22b148](https://github.com/coyote-team/coyote/commit/22b148bf2507909fee7ad835a315294db9240dce)

[2017-07-19 01:49] #103 closed

[2017-07-19 02:21] subelsky opened #106 "Write high-level feature test of basic functionality"
Will make adding new changes faster, more confident

[2017-07-20 15:19] subelsky opened #107 "Prepare app for 12factor architecture deployment (Heroku, Docker Compose, etc.)"
The app currently makes a lot of assumption about being deployed inside a VM. In this issue I'll be changing the app so it can run in a variety of cloud environments (but we can still run it on a server if need be).

[2017-07-20 18:25] subelsky opened #108 "Experiment with replacing MySQL with PostgreSQL"

[2017-07-20 18:39] subelsky commented on #108
this is passing on CI as of https://travis-ci.org/coyote-team/coyote/builds/255778429

[2017-07-20 18:39] #108 closed

[2017-07-20 19:43] #106 closed

[2017-07-21 15:13] subelsky opened #109 "General code cleanup"
Goal is to reduce the maintenance costs of the code as much as possible, resist software rot as strong as possible, so we can focus on rapid development of new features.

[2017-07-21 18:42] subelsky opened #110 "Revamp documentation"

[2017-07-21 18:43] #110 closed

[2017-07-24 14:53] #107 closed

[2017-07-24 15:18] subelsky opened #111 "Coyote Organization, Roles & Responsibilities"
@TobeyeboT @susanchun @alavatelliMCA this week I am planning to tackle adding organizations, roles, & responsibilities to Coyote. Would love to get your feedback on this design for Coyote Roles that I have been hashing out w/ @sinabahram:

**Organization**: Represents the entity that originates or "owns" Coyote data. MCA itself would be represented as an Organization, and I assume the other museum

[2017-07-24 15:18] subelsky commented on #97
Subsumed by #111

[2017-07-24 15:18] #97 closed

[2017-07-24 15:27] subelsky opened #112 "Propose change to concept of Status"
@TobeyeboT @susanchun @alavatelliMCA @sinabahram I would like to propose a change in the way Coyote handles description status.

**Background**

Right now `Status` is managed as a user-created entity in the database, so every different installation of Coyote would end up using its own internal way of representing different statuses

This makes the code a lot more complex to write and maintain, bec

[2017-07-24 15:42] sinabahram commented on #112
Shall we add “Deleted” to this list?

[2017-07-24 15:46] sinabahram commented on #111
Responding to this specific part:

“I assume the other museums participating in the scavenger hunt would be separate Organizations.”

That is not exactly correct. As we discussed on last week’s call, we’re thinking of making a “Scavenger Hunt” organization and lumping everyone into there for each participating organizations’ users. The reason for this is ease of implementation for now, unless if t

[2017-07-24 15:49] alavatelliMCA commented on #112
I have rather confusing notes from a June 15 phone call:
Approval: Unapproved, Approved, Rejected (as it is), Approved unpublished
Publish state: Published, Unpublished, Deleted/Archived (need to build)

I think it depends if publish state and approval state are one or two fields, my notes imply we were considering two fields.

[2017-07-24 15:55] sinabahram commented on #112
I think that by decoupling the idea of publishing from the linear flow of status, we can both simplify and strengthen the system. This is important from my perspective.

So, I propose that publishing get its own states, and they absolutely can be linked to the status of a description, but maybe not flattened into the same structure.

For example, this would allow the publishing of an unapproved de

[2017-07-24 17:35] subelsky commented on #111
That sounds good - since are following the model of github organizations, it would be possible for one user to play a role in different organizations.

This does make me want to press a little harder though: is Organization the right construct here? Or do we mean something like "Project"? In other words, are we likely to be thinking more in terms of institutions or more in terms of specific descri

[2017-07-24 17:38] sinabahram commented on #111
Almost always in terms of Organization and not in project, though Projects is a concept I’d love to explore far far down the road.

[2017-07-24 17:41] susanchun commented on #111
Agree that Organization is the essential construct and that Project (such as in "Scavenger Hunt Project" is an outlier as we've imagined it here. The key reason to keep Org as an overarching concept is to not have to build and manage teams/roles (and assets) for multiple projects within an org.

[2017-07-24 17:44] subelsky commented on #112
Two fields make sense.

Descriptions have an approval state:

* A description can be Unapproved [new, unreviewed]
* Approved
* Rejected (needs to be edited, becomes "Unapproved" when author saves changes]

Descriptions have a Publish state:

* Published [live, accessible to public]
* Unpublished
* Archived [no longer relevant, will not show up in searches unless you explicitly specify]

[2017-07-24 17:58] susanchun commented on #112
Just confirming, though, that the publish state is specific to context (MCA website, scavenger hunt, Artstor), right?

[2017-07-24 18:02] subelsky commented on #112
@susanchun oh so a given description could be published in one context, but unpublished in another? In that case I would create a whole new `Publication` model representing the relationship between a description and a context.

[2017-07-24 18:05] susanchun commented on #112
Yes, absolutely.

Related issue: some contexts will allow the publication of more than one description, while others will restrict publication to ONLY one. In our discussions, we've talked about how to order/mark multiple approved descriptions so that a call will return the correct one(s), and I just want to make sure that this is on your radar.

[2017-07-24 18:14] subelsky commented on #112
OK, getting more sophisticated. Cool. How does this sound?

A Context has a publishing strategy specifying how many descriptions to present for a given image. They could be: `First`, `First 3`, `All`.

A Context has a publish priority specifying how to sort the list of potential descriptions. I have less of a handle on what they could be but I imagine a rule like "first look for a description with

[2017-07-24 18:16] subelsky commented on #112
btw I won't change this until we get to a part of the code that touches status. I just want to make sure the design to aim for

[2017-07-24 18:18] subelsky opened #113 "Propose change to concept of Metum"
Similar to #112. Does `Metum` need to be user-configurable, or can we model that as application code? The [two definitions we supply](https://github.com/coyote-team/coyote/blob/master/lib/tasks/coyote.rake#L27-L29) in the new setup procedure seem like they would be broadly applicable.

[2017-07-24 18:25] subelsky commented on #112
@susanchun can you write a couple of examples of what a  `Context` would be?

[2017-07-24 18:42] subelsky opened #114 "Rename "Group" to "Context""

[2017-07-24 18:56] sinabahram commented on #112
I like this idea of a publishing strategy very much.

[2017-07-24 18:57] subelsky commented on #114
Not sure if there's anything else beyond just renaming the table, model, and UI label

[2017-07-24 19:33] susanchun commented on #112
Context examples:
MCA Website
Coyote.pics site
Scavenger Hunt

[2017-07-24 19:48] subelsky commented on #111
OK, I feel like I have enough to go on here. I'll start by making Organization, and users being members of multiple organizations.

[2017-07-24 19:48] subelsky commented on #114
see #112 for examples of contexts

[2017-07-24 19:49] susanchun commented on #113
I think that it needs to be user configurable (perhaps a function limited to admins?). We've talked about "Poetry" as a metum, as an example of a non-standard kind of description that we might experiment with. Question: where are we handling languages, is "Alt, Spanish" a metum or is internationalization handled elsewhere?

[2017-07-24 19:51] subelsky opened #115 "Enforce strong database constraints"
The current database schema has a lot of nullable columns which can lead to serious bugs down the road (and less confident code, more nil checks). Will be adding new column constraints.

[2017-07-24 19:57] subelsky commented on #115
also includes making some important string columns non-blank. No groups/contexts without titles,
etc.

Foreign keys will be set to either `:cascade` or `:delete` (vs what they are now, `:nullify`, which will lead to data inconsistency)

The DB has to be a fortress of data integrity. ActiveModel validations are a UI helper, not the primary way to enforce data consistency.

[2017-07-24 20:02] subelsky commented on #113
my understanding is the Metum would be `Alt`, and the language would be a property of the description.

[2017-07-24 21:07] sinabahram commented on #113
I agree with that. Metum is alt, and language is property of the description, and the “type” would be plain/text or text/json, audio/mp3, etc.

As for poetry, I claim we should phrase that as a context, much like Web, or Digital Interactive, or Mobile, or so on.

This way, we can  have alt poetry, long description poetry, etc.

[2017-07-24 21:11] sinabahram commented on #112
None of these are contexts.

Contexts are Web, Exhibitions, Poetry, Digital Interactive, Mobile, Audio Tour (this one is debateable, but I can argue it either way), etc.

Contexts should not map to anything specific to a particular organization, etc.

Does that help?

[2017-07-24 21:57] susanchun commented on #113
I agree about type and language being a property of description. However, I disagree about poetry being a context, since it doesn't seem to me parallel to the other things, which are publishing platforms or end points. Maybe let it go at this point, since nobody is writing any poetry?

[2017-07-25 01:41] sinabahram commented on #113
This is a fair point. It bothered me a little bit when I typed it, but I couldn’t place my finger on it. Poetry is a metum, not a context, and thanks for pushing back on that one.

Making that change, Susan are we fully agreed, though?

[2017-07-25 01:54] frenchfrigateshoals commented on #113
Yes, thanks everyone!

[2017-07-25 12:57] subelsky commented on #112
So `Context` represents the situation in which a subject is being considered, and a Context has a strategy that influences which description(s) are presented

[2017-07-25 12:59] subelsky commented on #113
OK so what are other examples of possible `Metum` values? Does `Alt` and `Long` cover most cases, or is every installation of Coyote likely to use custom values?

It's easier to make Metum standard (like we're talking about doing with Status) but obviously want to make the system as flexible as it needs to be

[2017-07-25 16:56] sinabahram commented on #113
Alt

Long

Poetry

And I’m strongly considering changing alt to short, so that we separate it from the baggage of that word associated with the web. Just like how long doesn’t map to longdesc on the web, short need not map to alt, though it often does, of course.

so, our list so far is:

short

long

poetry

we could do custom1 and custom2, but it’s not like I forsee 10 possible values here.

MCA

[2017-07-25 16:56] sinabahram commented on #112
Yes

[2017-07-25 17:05] susanchun commented on #113
I'm very much in favor of changing alt to short. And yes, that's our list so far. I don't see a lot of additional things coming in, though I could envision other institutions having variations having to do with (for example) specific character limitations or requirements based on Context that aren't currently specifically expressed in the metums. But that, I think, is a complication for another da

[2017-07-25 17:11] susanchun commented on #112
Okay, these ideas seem to conflict. I *do* think Context is specific to an organization or project, if it isn't, there's no way that it can have a strategy influencing which description(s) are presented, since that's a matter at the publication level. And the whole purpose of having Context is to provide guidance to make description meaningful. General Contexts such as "Exhibition" aren't that use

[2017-07-25 18:24] subelsky commented on #112
Well couldn't we say an `Organization` has one or more `Contexts`? So `Context` would thus represent a set of `Images` along with rules for how to represent members of that set, using whatever `Descriptions` are associated with each image. Each `Organization` could then use `Context` to mean what they want

(Would love to get in front of a whiteboard to iron all of this out)

[2017-07-25 18:37] subelsky commented on #113
`short` is the new `alt`, for sure. I'm surprised by "poetry" though. If I understand the way you're using "poetry", could I suggest the term `poetic` instead? What about `philosophical`, `artful`, `critical` [e.g. curator or art critic's perspective], `technical` [what an artist or a theorist would say]?

Is it correct to say "A `Description` has one Metum. All Coyote requests are associated with

[2017-07-25 18:50] susanchun commented on #113
I'll buy poetic instead of poetry, sure. And I think that the definition above is good.

Re: description having broad meaning that then has a content type: this makes sense. However, because I can have many descriptions (short 1/text, long 1/mp3, long 2/mp3) associated with the same object, I'd want to be able to create an association between a text description and the mp3 or wav file. Does that w

[2017-07-25 20:05] alavatelliMCA commented on #113
To further confirm Mike's definition, I want to outline what I understand this means for our current project–

If Scavenger Hunt is an `organization` (group) and this project demands a specific style of description, we would still need to use `metum` for distinguishing a special mode of description, so a new `metum` would be created by Admin called something like 'clue' that would only be used by

[2017-07-25 21:23] sinabahram commented on #113
Yes, that’s correct. This is also a beautiful argument for not making metum hard-coded.

[2017-07-25 21:24] subelsky commented on #113
@alavatelliMCA makes total sense. `clue` is a great example of needing to extend `Metum` for particular cases. So we can keep `Metum` as-is unless there's any other concerns?

[2017-07-25 21:29] sinabahram commented on #112
Yes, that’s exactly correct.

Contexts can be organization-specific, whereas metums tend to have more global applicability, though Organizations still must be able to add one, such as “Poetic”.

[2017-07-25 21:44] #115 closed

[2017-07-26 18:36] subelsky commented on #111
How many Organizations would a typical Coyote instance be running? Can any user create a new organization? (Github model)

[2017-07-26 20:41] sinabahram commented on #111
Yes to any user creating an organization, but I don’t understand the point about an instance of Coyote. I thought we agreed on a centralized, if not distributed, aspect to this system, so would the answer be N, where N is defined by cloud-based resources?

[2017-07-27 15:04] subelsky commented on #111
@sinabahram I'm imagining a scenario where some institutions use a centralized / multi-tenant instance of Coyote, hosted on a cloud platform like Heroku. Other / larger institutions could run their own instance on a different platform (or a server in their data center).

It would be more efficient, for sure, if all Coyote data was stored in one place and one system was serving all institutions. Le

[2017-07-27 16:05] subelsky opened #116 "Restrict who can create/edit/delete Groups"
Right now Groups (soon to be called "Contexts") don't have any access controls. Which Roles (from #111) should be allowed to read/write/edit/delete a Group/Context? /cc @sinabahram

[2017-07-27 16:11] #109 closed

[2017-07-27 18:43] susanchun commented on #116
From my seat, Admins and Super Admins only should be allowed to add/edit/delete Contexts. That's based on the way that we use Coyote at the MCA.

[2017-07-28 00:41] sinabahram commented on #116
I agree with Susan on the proposed roles that will have context creation capabilities.

[2017-07-28 00:44] sinabahram commented on #111
Yes, would love to discuss Coyote federation.

[2017-08-01 20:18] subelsky commented on #111
Assumptions I have been making (not too late too change if you disagree):

1) Anyone can create an Organization (per the "Github model")

2) Organization adding/changing is accessed from the navigation menu in the upper right hand corner (vs adding more to the primary navigation menu bar at the top of page). Presumably this would eventually grow into a `Settings` page that includes other stuff bes

[2017-08-02 06:49] somedayrainbows opened #117 "Accessing 'Descriptions' from navbar throws a type error in development"
To reproduce, go to root, then click on 'Descriptions' in the navbar.
(or just go here: http://localhost:3000/descriptions)

![screen shot 2017-08-02 at 12 48 02 am](https://user-images.githubusercontent.com/16053570/28861055-60f01798-771c-11e7-9d0f-7c102f6efb00.png)

[2017-08-02 20:13] subelsky opened #118 "Upgrade Ruby & Rails"
Ideally get us all the way to Ruby 2.4.1 and Rails 5.1.2

[2017-08-04 10:32] subelsky commented on #118
Getting stuck here due to strange issue where scopes on `ApplicationRecord` objects are not getting loaded - so stuff like `Image.unassigned` raises `MethodMissing`. It actually looks as if none of the class bodies get loaded.

Will return to this later or hopefully get some help, anxious to get back to feature work

[2017-08-04 10:35] subelsky commented on #117
@somedayrainbows That's interesting, I would have thought `Haml` would take care of that here. However, since Haml uses [Ruby Interpolation](http://haml.info/docs/yardoc/file.REFERENCE.html#ruby-interpolation-) this is easy to fix, without having to use quotation marks. Can you fix?

[2017-08-04 17:09] somedayrainbows commented on #117
Yes, I'll fix. Thank you!

On Fri, Aug 4, 2017 at 4:36 AM, Mike Subelsky <notifications@github.com>
wrote:

[2017-08-04 17:25] subelsky commented on #118
I had a good idea right after I commented this morning. This ticket is complete. I ended up needing to update most of the other gems to make the dependencies work.

The build is breaking on Travis CI but that looks like a database issue a la https://github.com/travis-ci/travis-ci/issues/8087 since our database now dumps a Postgres 9.6.3-specific option that messes up Travis' default Postgres insta

[2017-08-04 17:25] #118 closed

[2017-08-17 14:53] alavatelliMCA opened #120 "User login and user signup broken"
User sign up broken, so is user login (assuming MCA existing users were migrated)

Attempted login with alavatelli@mcachicago.org
Attempted account creation
Thursday AM (just before writing this issue)

[2017-08-17 15:26] sinabahram commented on #120
This is confirmed and reproduceable over here.

Steps to reproduce:

I went to sign up, used an email address that was not known to the system before, filled out all fields correctly, and then received an internal 500 error from the server on the page I was redirected to after form post.

[2017-08-18 14:38] #117 closed

[2017-08-28 15:15] subelsky commented on #120
@alavatelliMCA @sinabahram so far I can't reproduce this. I changed @alavatelliMCA's password and tried signing-in with her email, to no avail. So you'll need to [reset your password](http://live.coyote.pics/users/password/new).

If it's still happening, I also setup Rollbar again, so I should be able to capture the details next time it happens. In the meantime will leave this issue open till we'r

[2017-08-28 15:17] subelsky commented on #120
PS it may be related to the the jquery magic going on in the signup page. I'm overhauling / simplifying those pages as part of #111 so it may not be worth digging much more deeply here

[2017-08-28 15:35] sinabahram commented on #120
This advice is not able to be followed. The forgot password page results in an http 500. Just tried it.

[2017-08-28 15:40] sinabahram commented on #120
In addition, please note that the sign up form results in an http 500 still.

I just verified that as well.

President, Prime Access Consulting, Inc.

Twitter: @SinaBahram

Company Website: https://www.pac.bz

Personal Website: https://www.sinabahram.com

Blog: https://blog.SinaBahram.com

From: Sina Bahram [mailto:sina@sinabahram.com]
Sent: Monday, August 28, 2017 11:35 AM
To: 'coyote-team/coyote

[2017-08-28 16:56] subelsky commented on #120
OK got it, the forgot password is happening to me also; I can still sign up though. This gives me some stuff in Rollbar to look at, stay tuned.

[2017-08-28 20:30] subelsky commented on #120
OK this looks like a DB issue, having to do with primary keys on the users table. Very strange, have not seen this kind of bug in a rails app before, and it seems to only afflict production. It could be an artifact of the way I migrated the data (which would explain why it only affects production) , will dig further.

[2017-08-29 00:30] subelsky opened #121 "Update email sending configuration so password reset works"
also integration test password reset

[2017-08-29 00:31] subelsky commented on #120
I fixed the issue - it was a database problem as suspected. Password reset still not working but that will be handled in #121

[2017-08-29 00:31] #120 closed

[2017-08-29 14:33] #121 closed

[2017-08-29 15:07] subelsky commented on #121
@alavatelliMCA @sinabahram this is fixed, I just tested it with my account. please let me know if there are any further login/signup issues.

[2017-08-29 15:10] subelsky commented on #120
@alavatelliMCA @sinabahram I have tested the signup, login, and reset password tests thoroughly. Everything should be good to go. (also see ticket #121)

[2017-08-29 15:20] subelsky opened #122 "enforce SSL in production & staging environments"

[2017-08-29 19:43] somedayrainbows commented on #73
@subelsky please assign to me, thank you!

[2017-09-01 14:57] #114 closed

[2017-09-01 18:28] #113 closed

[2017-09-18 19:49] subelsky commented on #112
see 684836d6f6ec0b30075f2f2f3aed6a228e0f89c1, starting to eliminate the concept of user-configurable status. With Resources & Representations, we'll switch to using an enumerated type that reflects the current contents of the `statuses` table:

* Ready to review
* Approved
* Not approved

[2017-09-18 19:49] #112 closed

[2018-07-09 19:45] alavatelliMCA opened #125 "Include more user page content"
When on a users page it would be helpful to list all of the users descriptions (ideally with dates) as we had with the old coyote.

Screenshot from https://staging.coyote.pics/users/5 that shows the content of the user page only displays the users first and last name. Missing fields are their email address and role as well as a table of all descriptions.
![screen shot 2018-07-09 at 2 38 57 pm](htt

[2018-07-09 19:46] alavatelliMCA opened #126 "Top nav missing on user page"
https://staging.coyote.pics/users/5
![screen shot 2018-07-09 at 2 46 14 pm](https://user-images.githubusercontent.com/8040710/42472437-e5593696-8386-11e8-8313-852da37a4f60.png)

[2018-07-09 19:53] alavatelliMCA opened #127 "Lightbox does not enlarge image"
Lightbox image dimensions should fill much more of the browser window to provide an enlarged view, otherwise, this feature should simply be removed. Currently, the image is the same size as it appears on the resource page making the lightbox purposeless.

screenshot of resource page, https://staging.coyote.pics/resources/1
![screen shot 2018-07-09 at 2 52 05 pm](https://user-images.githubuserconte

[2018-07-09 19:55] alavatelliMCA opened #128 "Archive or delete users?"
We discussed a solution to this on the phone, but I cannot find it in my notes. The original ask was to archive users instead of deleting them. And most importantly what happens to user descriptions when we “delete” them? We don't ever want to lose description content.

[2018-07-09 20:48] sinabahram commented on #128
I suggest we archive them, which is nothing more than setting “archive=’true’” on their user object. Then the members page will only show those users that are active. This way, nothing happens to their descriptions what-so-ever.

[2018-07-10 20:21] alavatelliMCA opened #129 "Description page audit section, certain columns too narrow"
I'm not sure that all fields need to be displayed in the audit log, though I do like having complete information in the audit log. Each entry may need two rows so that the description and notes columns can be wider for legibility.

Fields listed
USER | ACTION | TIME | TEXT | AUTHOR | CONTENT TYPE | LANGUAGE | STATUS | METUM | ENDPOINT | LICENSE | CONTENT URI | NOTES
https://staging.coyote.pics/res

[2018-07-10 20:26] alavatelliMCA opened #130 "Admins can't edit Admins"
I should be able to remove or adjust fellow Admin's accounts or we need something above admin for organizational leads to be able to edit users. We have several people who are no longer staff with admin rights that I need to adjust or remove.

Screenshot showing no option to edit admin users
![screen shot 2018-07-09 at 2 35 50 pm](https://user-images.githubusercontent.com/8040710/42535652-8bd63036

[2018-07-10 20:29] alavatelliMCA opened #131 "Ready to Review Queue visual treatment needs adjustment"
Objects in the dashboard Queue in other lists have a box that contains the entire block of elements, the image, caption, labels, and buttons. In the ready to review descriptions, there is a different treatment that makes it confusing as to the contents of each block. It should have a similar visual treatment to the other Queues, similar to old coyote.

new coyote
![screen shot 2018-07-09 at 2 32 4

[2018-07-10 21:21] sinabahram commented on #130
I agree, but I think this has already been done. I remember working with Mike on this. let’s discuss on our next call and then figure out where the disconnect is.

In fact, I know this is true, but I see the problem. You are currently not an “owner” of the organization. That is why you can’t edit fellow admins, so this is a content, not functionality concern.

Let’s make you an owner and reevaluat

[2018-07-11 15:01] alavatelliMCA commented on #130
Great, I'll log back in and check it out.

[2018-07-11 15:01] #130 closed

[2018-07-11 15:36] alavatelliMCA opened #132 "Home link and already signed in message is awkward"
So it would be more intuitive if once signed in that clicking on the Coyote eyes in the upper left that you would return to the dashboard instead of the login page. (This is how current coyote works)

Because of the instinct to click in the upper left to return to the dashboard, one gets to the login page. After clicking login, you are sent to the dashboard but a blue box stating that you are alre

[2018-07-11 15:39] alavatelliMCA opened #133 "Occasional spacing issues on bottom edge of box on Queue items"
Some boxes have the incorrect spacing on outer edge. This is a low priority issue.

<img width="1222" alt="screen shot 2018-07-05 at 9 22 40 am" src="https://user-images.githubusercontent.com/8040710/42583411-818cf938-84f6-11e8-9fdb-f48e5f110081.png">

[2018-07-31 22:27] stacietaylorcima opened #134 "Improve Spacing & Underlines"
Throughout the scavenger hunt UI, the spacing and underlines are a bit wonky. The styling needs to be tweaked a bit to clean up the view and better match the visual design guide.
<hr>

This is how it *should* be styled:
![styling guide](https://user-images.githubusercontent.com/25017973/43490598-36dfba3e-94d6-11e8-8472-48523d2b3bfe.png)

<hr>

This is how it is *currently* styled:
![styling issues

[2018-07-31 23:07] stacietaylorcima opened #135 "Improve Sign Up View"
* Email & username input fields are too wide
* "Submit" should be underlined

<hr>

![screen shot 2018-07-30 at 10 34 05 pm](https://user-images.githubusercontent.com/25017973/43492030-ec82d95c-94db-11e8-8b5b-4f5524574a71.png)

[2018-07-31 23:09] stacietaylorcima opened #136 "Survey Responses Not Saving"
When the user selects a response, the console returns a 500 error. This needs to be investigated and fixed.

<hr>

![screen shot 2018-07-30 at 10 34 47 pm](https://user-images.githubusercontent.com/25017973/43492054-081af442-94dc-11e8-9714-70d6bb3b205f.png)

[2018-07-31 23:10] stacietaylorcima opened #137 "Update Response Type for Survey Question #4"
**Question #4: What would you change about the game?** Currently has "yes, no, kind of" as response options. This question needs a text field response type instead.

<hr>

![screen shot 2018-07-30 at 10 34 57 pm](https://user-images.githubusercontent.com/25017973/43492093-37d6f05a-94dc-11e8-976f-d59c27e2dab7.png)

[2018-07-31 23:11] stacietaylorcima opened #138 "Color Updates on Answer Section"
When the user begins typing the answer, the view becomes a translucent white. This needs to reflect the translucent hint color instead.

<hr>

![screen shot 2018-07-30 at 10 34 22 pm](https://user-images.githubusercontent.com/25017973/43492108-4dbf7df6-94dc-11e8-903d-511a594616d2.png)

[2018-07-31 23:12] stacietaylorcima opened #139 "Accept user's answers by comparing to resource_id using fuzzy match"
The "Enter object type" input on the new answer form was originally built as a type-ahead against all of the resources in Coyote under that organization to determine whether or not it's the right answer. We need to use a fuzzy matching gem to do some generous string matching. We'll need to at least lowercase everything, take out white space, and take out special characters. Then, if it ==  the rig

[2018-08-05 05:54] stacietaylorcima commented on #137
I documented this issue based on Flip's interaciton with the staging environment on Heroku. When accessing the Scavenger Hunt locally, Question #4 has the proper response type (text field).

**Question:** How were the survey questions created in the staging environment?

In development, the survey questions are created via the seed file. Like this:
[code]

Per the code on the view `scavenger_hunt/

[2018-08-05 06:28] stacietaylorcima opened #140 "Update Clues & Hints to Respect the Resource's Status"
At this point, any representations with the "Scavenger Hunt: Clue" & "Scavenger Hunt: Hint" meta are added as clues to that location's Scavenger Hunt game. We need to update the code so that clues and hints are only created if the representation has an approved status.

Possibly add condition to the Game model's `create_clues` method on line 33.

[2018-08-05 06:36] stacietaylorcima opened #141 "Uploading Resources to Coyote"
One thing we need to figure out for the hunt and also for Coyote propper is this idea of not being restricted to just external URLs like a WP image path or a resource on a web server somewhere, etc.

To that end, we need a way of uploading things to coyote as a resource.

**What needs to happen, from Sina's perspective, is:**
1. we have storage somewhere
2. we have an upload button on resources
3.

[2018-08-05 06:39] sinabahram commented on #141
Sounds like there are two ways of  doing this. one way does make Coyote beholden to Heroku, so I’d like to make sure we take that into account when making a final decision. That doesn’t mean we can’t use the hoerku-specific gem, but maybe there’s a way of doing so generically so that other services can be used later.

[2018-08-07 19:37] #137 closed

[2018-08-10 04:26] stacietaylorcima commented on #138
This issue will be completely solved when we remove all typeahead/autocomplete from this form next week. I am going to close this issue.

[2018-08-10 04:26] #138 closed

[2018-08-10 04:33] stacietaylorcima commented on #134
I am closing this issue because the styling issues detailed here have been fixed. There are still some styling issues that will need to be fixed before October. I will create more specific Github issues for the remaining styling issues. But, the current UI is **significantly** closer to the design guide than before! :-)

[2018-08-10 04:33] stacietaylorcima commented on #135
These styling issues have been fixed!

[2018-08-12 05:39] stacietaylorcima commented on #139
My dev community has recommended [Searchkick](https://github.com/ankane/searchkick ), so I'll check it out. Let me know if any of you have used this or have feedback.

[2018-08-12 21:08] sinabahram commented on #139
It occurs to me that we could replace the regular Coyote search with this, potentially as well?

I’m curious about the technical debt. It requires elastic search, etc., which is fine, but I just want to be cognizant of that.

It looks promising.

[2018-08-17 03:58] stacietaylorcima commented on #139
**Feeback Request:** Ended up going with something much simpler than elasticsearch/searchkick.

- Replaced the existing form and all typeahead/autocomplete with a more basic form to accept the user's input.
- In the answers_controller, used similar_text gem in the create method. similar_tex offers .similar as a method to compare two strings and return a score (integer) of how well those strings ma

[2018-08-20 00:12] stacietaylorcima opened #143 "Implement Metum Ordinality"
Ordinality needs to exist at the metum level. So, if we have 10 long descriptions for a specific resource, what's the order of them? The user needs the ability to set the order of the metum when adding or editing a representation's metums. This order will be an integer that will default to 0. _(Note: this issue is at the Coyote level. Scavenger Hunt should simply use the same queries that are used

[2018-08-20 05:56] sinabahram commented on #143
Question: why will order be negative integers?

[2018-08-20 16:32] stacietaylorcima commented on #143
@sinabahram That was supposed to say "non-negative". Sorry for the confusion! I've updated the issue.

[2018-08-21 05:59] stacietaylorcima commented on #143
@sinabahram In the database, the order value can be any integer. But how many options should be presented to the user in the view? Should this be a drop-down selector or a numeric input field?

[2018-08-21 22:39] sinabahram commented on #143
Can you just restrict it to be between 0 and 100 with 10 being default? My reasoning being that we may have a situation where folks wish to prioritize a list of things, and just make sure that a handful of items comes first, but don’t care about the rest. Defaulting everything to 10 instead of 0, offers this flexibility.

[2018-08-22 05:02] stacietaylorcima commented on #143
@sinabahram

**RE: default values** - I did some testing and I am thinking we should just let them default to `null`. In that case, they will still fall to the bottom of the list and it seems clean.

<hr>

**Note:** I need to use `index` or some other word other than `order` for the column because it's protected.

<hr>

**Updates & Revelations:**
Just spent a bunch of time working through this and

[2018-08-22 06:09] sinabahram commented on #143
This is true. Please proceed.

[2018-08-22 19:28] stacietaylorcima opened #144 "Scoping Representations?"
Hey @subelsky & @flipsasser! I'm looking for a little direction here.

I am working on implementing a new scope for representations so that when they are queried, they are displayed grouped by metum, then sorted by index.

**My question is, where would I do this? I understand how to build and apply the scope, but I'm not sure where to ensure all queries for representations respect the scope.**

I

[2018-08-24 03:48] stacietaylorcima opened #146 "Font Update"
Need to update Scavenger Hunt font using files provided by Anna.

<hr>
@sinabahram @flipsasser @subelsky

It's probably going to sound a little pathetic, but I have been racking my brain on this font update for way too long. I am wondering if I can push what I have or just give you a run-down of what's up and get a little nudge in the right direction. Perhaps I am making this more complex than nec

[2018-08-24 03:56] stacietaylorcima commented on #146
Maybe I need to be more explicit with the `src: url` path and tell it exactly where it will find the `'apercu-bold-italic-pro.eot'` file? Any thoughts on that?

[2018-08-24 03:57] stacietaylorcima commented on #146
Maybe I need to be more explicit with the src: url path and tell it exactly where it will find the 'apercu-bold-italic-pro.eot' file, etc? Any thoughts on that?
![screen shot 2018-08-23 at 8 54 45 pm](https://user-images.githubusercontent.com/25017973/44564311-287a7300-a717-11e8-975a-6dbd6e2ea61b.png)

[2018-08-24 21:47] #134 closed

[2018-08-24 21:47] #135 closed

[2018-08-24 21:47] #139 closed

[2018-08-24 21:47] #140 closed

[2018-08-24 21:47] #146 closed

[2018-08-24 21:50] #144 closed

[2018-08-25 05:51] stacietaylorcima commented on #143
Closing this issue and opening issues that are more specific based on our new plan.

We are no longer "Implementing Metum Ordinality" as mentioned in the title of this issue. But are instead implementing resource and representation ordinality and scoping those objects by ordinality.

[2018-08-25 05:51] #143 closed

[2018-08-25 06:01] stacietaylorcima opened #147 "Add ordinality column to resource and representation models"
Generate a new column on the Resource and Representation models so that users have the ability to assign an integer to a resource or representation.

`rails g migration add_ordinality_to_resources ordinality:integer`
`rails g migration add_ordinality_to_representations ordinality:integer`

[2018-08-25 06:13] stacietaylorcima opened #148 "Scope resources and representations by ordinality"
_Optimization of this issue in progress. Will remove this line and ask for feedback when it's complete._

<hr>

Below are just notes from our call that I need to dig through and apply more detail to tomorrow (Saturday, Aug 25th). I wanted to get this issue created so that I could demonstrate what work I'd be tackling this weekend.

Need to add this newly created scope to the record_filter
* Apply

[2018-08-25 06:17] stacietaylorcima opened #149 "Give user ability to set ordinality on resources and representations"
**Resources new & edit _form.html**
* Add input for setting ordinality on the resource `line 6`

**Representations new & edit _form.html**
* Add input for setting ordinality on the representation `line 15`

**Resources show.html**
* Display the resource's ordinality
  * The resources show view renders the `_resource.html` partial, that calls the resource_status_list method from the `resources_help

[2018-08-25 14:14] stacietaylorcima commented on #147
I totally forgot to include the `closes` message in my commit message before pushing it remote. But, it's closed.

[2018-08-25 14:14] #147 closed

[2018-08-25 17:16] subelsky commented on #144
I believe the method you want is [default_scope](https://api.rubyonrails.org/classes/ActiveRecord/Scoping/Default/ClassMethods.html#method-i-default_scope) but I would tread carefully. I think that's a tool to use sparingly, in part because it violates the [principle of least surprise](https://en.wikipedia.org/wiki/Principle_of_least_astonishment) -- other developers building a feature that requir

[2018-08-25 17:19] sinabahram commented on #144
This is why we decided not to make it the default scope, since Flip informs us that default scope is applied first, not last. If there was a default post-facto scope, that would be perfect. Mike, do you agree/disagree with this?

[2018-08-26 05:29] stacietaylorcima opened #151 "Error messages for when user attempts to "approve" more than one Scavenger Hunt: Clue or Answer"
For the Scavenger Hunt to work, the content managers must only apply the "approved" status to 1 Scavenger Hunt: Clue and 1 Scavenger Hunt: Answer on each resource. We need to add an error message that notifies/prevents the user from approving more than one.

[2018-08-26 05:39] stacietaylorcima opened #152 "Scavenger Hunt Launch Timeline"
Putting this here for easy reference, unless anyone has another suggestion. Thanks!

<hr>

- Aug 27: Staging resolved for updates, Font added
- Aug 28: MCA delivers Design Feedback and adds sample content to test Coyote functions by EO
- Sep 5: Partner Orgs set up in Coyote so that they can use the describing workflow <- not required, but ideal
- Sep 7: Design delivered MCA begins reviews
- Sep 11

[2018-08-26 16:04] subelsky commented on #144
I agree. So we'd have to find another design to fulfill the requirement behind the goal 'ensure all queries for representations respect the scope.'

[2018-08-26 20:54] sinabahram commented on #144
To that end, Flip and Stacie were discussing updating RecordFilter to capture this ordinality sorting. Thoughts?

[2018-08-28 03:45] stacietaylorcima opened #153 "NoMethodError: undefined method `games' for false:FalseClass"
View details in Rollbar: [https://rollbar.com/stagingcoyote/stagingcoyote/items/10/](https://rollbar.com/stagingcoyote/stagingcoyote/items/10/)

[code]

[2018-08-28 04:04] stacietaylorcima commented on #153
I'm probably not the one to solve this, but I am taking a look just to challenge myself to see what's going on.

**I think the problem has to do with cookies.** I don't really know what specifically to do to fix the error, but here are some thoughts that one of you might read and think, *"AHA! The answer to this is obvious…"*

* The error is saying `NoMethodError: undefined method `games' for fals

[2018-08-28 04:42] stacietaylorcima commented on #141
Launching into this project tomorrow and wanted to make sure I had everyone's thoughts! There seem to be a lot of articles on using AWS's S3 for uploading images in Rails apps. Let me know what you all think!

[2018-08-28 18:19] stacietaylorcima commented on #141
@flipsasser Any final thoughts on this? If not, I'm going to move forward with configuring AWS's S3 for uploading images.

[2018-08-28 19:57] stacietaylorcima commented on #141
@flipsasser A lot of the tutorials I was reading were using something like Paperclip between AWS S3 and Rails, and another mentor of mine just suggested Active Storage instead like you had, so I think I'll move forward with doing that.

[2018-08-28 20:06] flipsasser commented on #141
I agree - paperclip is the "old" way of doing things. It will be good to
try something new and see how it comes out.
On Tue, Aug 28, 2018 at 12:57 PM Stacie Taylor-Cima <
notifications@github.com> wrote:

[2018-08-29 04:47] stacietaylorcima commented on #141
@sinabahram I'm getting somewhere with implementing Active Storage for uploading files to AWS S3. I've just been testing with my own S3, so is there a way I can get access to a Coyote AWS so that I can set up the S3 bucket? Thanks!

[2018-08-29 17:35] sinabahram commented on #141
I found this helpful:

https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingBucket.html

we should have tagging for tracking costs, keep things in the south east region for now, make sure not to use region-specific URLs e.g. where the region name is part of the subdomain address (this way if we move regions, no code changes are required), and we should also make sure the bucket is secured and foll

[2018-08-29 18:39] sinabahram commented on #141
Let’s use my email. should I go make an AWS/S3 email and then make an admin user that I can give you the credentials for RE Coyote.

[2018-08-29 18:49] stacietaylorcima commented on #141
That would work great. Thanks!

On Wed, Aug 29, 2018 at 11:39 AM Sina Bahram <notifications@github.com>
wrote:

--
Stacie Taylor-Cima
(916) 430-9588

[2018-08-30 05:40] stacietaylorcima commented on #141
**Progress Update:** I am in the process of working with Sina to get the S3 bucket for Coyote set up properly. At this point, I have set up an S3 bucket on my own personal AWS account for testing purposes. I am successful in uploading files from the view and having them stored in the S3 bucket. I am having some slight troubles with displaying in the view, but I am sure it is something small and si

[2018-08-30 16:00] alavatelliMCA opened #155 "Visual change on status update (list-view)"
https://staging.coyote.pics/organizations/1/representations

When selecting the many "ready to review" and then attempting to bulk
<img width="1436" alt="screen shot 2018-08-30 at 9 36 43 am" src="https://user-images.githubusercontent.com/8040710/44863827-d5874b00-ac43-11e8-89c3-6ac8a1f387cb.png">

[2018-08-30 17:34] alavatelliMCA opened #156 "Content URI Description Field"
![screencapture-staging-coyote-pics-organizations-1-resources-new-2018-08-29-16_43_25](https://user-images.githubusercontent.com/8040710/44868630-015cfd80-ac51-11e8-9bf1-31d82f5a840c.png)

[2018-08-30 19:02] sinabahram commented on #156
Sorry, there’s just a linked graphic, so I want to make sure I’m parsing this issue correctly. This is meant to capture the issue around having a description field in addition to the canonical URI field of a resource. is that right?

It says description or notes field, and that makes it feel like a description or notes for the resource, and I want to capture that point Susan made correctly.

[2018-08-30 19:23] alavatelliMCA opened #157 "Link to Resource change from dropdown to write-in auto complete"
Currently, when trying to link resources there is a dropdown to select the resource to link to. That dropdown is over 20,000 objects so it doesn't function in a usable way.

[2018-08-30 19:24] alavatelliMCA opened #158 "Cannot create a new organization"
I have no option to create a new organization.

![screen shot 2018-08-30 at 2 23 53 pm](https://user-images.githubusercontent.com/8040710/44874312-679d4c80-ac60-11e8-86fe-541f14e9cfea.png)

[2018-08-30 19:27] stacietaylorcima commented on #141
I have nearly everything set up but am running into the following error that I can't figure out the best plan of action for: `to_model delegated to attachment, but attachment is nil`

Here I have done a [quick video to show you where it's coming up](https://drive.google.com/file/d/1jbo7mXs2571H6hgpFgldA0maN1aw4GPc/view?usp=sharing).

Here are some [suggestions on how to fix the issue](https://gith

[2018-08-30 19:30] alavatelliMCA opened #159 "Cannot search using multiple terms"
It seems that search may be functioning with "and" instead of "any" when multiple words are entered into the field, should be any.

Screenshots show searching: **Josephson Washington** with null results and then a second showing a search on **Josephson** which shows a result with this caption: `Kenneth Josephson, Washington, D.C., 1975, 1975. Gelatin silver print; matte: 16 × 20 in. (40.6 × 50.8 c

[2018-08-30 19:30] alavatelliMCA opened #160 "COYOTE link in top left corner sends to login page instead of home"
The link in the top left should send you to the dashboard when already logged in.

[2018-08-30 19:39] sinabahram commented on #160
Stacie, please handle this one.

[2018-08-30 19:40] sinabahram commented on #159
Just to clarify “or” instead of “and”, yes?

[2018-08-30 19:51] sinabahram commented on #158
This is critical. To be clear, any user, what-so-ever, should be allowed to create an organization, regardless of permission level, as long as they are logged in, since they will then become the owner of the new organization.

Not sure how this got lost?

[2018-08-30 19:53] sinabahram commented on #157
Can we please put an edit field that will simply filter the dropdown? Flip, maybe your previous work on autocomplete for scavenger hunt would be helpful here? no need for autocomplete, just filtering, so that may be overkill.

Anna, can you please provide some design guidance on said text field? I’d like not to spend too much time on it, but we need to make sure it fits into the existing look/feel

[2018-08-30 20:38] alavatelliMCA commented on #159
Yes

Anna Chiaretta Lavatelli

Sent from my phone, please excuse my typos.

On Aug 30, 2018, at 2:40 PM, Sina Bahram <notifications@github.com<mailto:notifications@github.com>> wrote:

Just to clarify “or” instead of “and”, yes?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/coyote-team/coyote/issues/159#issuecomment-41

[2018-08-30 22:06] alavatelliMCA opened #161 "Text showing characters instead of visual styling for status"
Status is showing as "ready_to_review" on the description/representation page insteaded of formated with spaces or in label style–
![screencapture-staging-coyote-pics-representations-5966-2018-08-29-17_12_19](https://user-images.githubusercontent.com/8040710/44881746-54957700-ac76-11e8-9860-ca0a5ae91e9f.png)

Maybe not necessary, but it is preferred that status and metum show up in their label sty

[2018-08-30 22:37] alavatelliMCA commented on #132
Same issue as #160

[2018-08-30 23:31] alavatelliMCA opened #162 "Resource type includes the _"
Resource type isn't styled shows as `still_image`

Thanks!
![screen shot 2018-08-30 at 6 29 19 pm](https://user-images.githubusercontent.com/8040710/44884754-e0150500-ac82-11e8-87e5-6bbd99dcfe34.png)

[2018-08-30 23:35] alavatelliMCA opened #163 "Remove horizontal rules between statistics on dashboard"
Horizontal rules are distracting, these somehow got put in rather than the bar graphs shown in the design when the way the data was displayed changed. So let's lose the lines.

Potential phase 2 on the back burner, if the numbers in the dashboard are changed to a '# of #' format with fewer lines, add the thin bar graphs back.

[2018-08-30 23:40] alavatelliMCA opened #164 "Ready to Review Queue styling"
New Coyote styling is out of step with design docs for the "Ready to Review" Queue
![screen shot 2018-08-30 at 6 36 16 pm](https://user-images.githubusercontent.com/8040710/44884904-a09ae880-ac83-11e8-9759-d5088fe15198.png)

In the old Coyote interface shows styling where the resources, their captions, and all associated representations/descriptions are displayed with their labels inside of thin b

[2018-08-30 23:48] alavatelliMCA opened #165 "Changing status from main admin queue sends to description page"
After approve or reject is clicked from the main admin Ready to Review queue you are sent to the description/representation page that was either approved or rejected.

However, when a description is approved or rejected and no more descriptions remain in the queue the image/resource should go away and you stay on the queue page so that you may continue approving and rejecting or editing.

[2018-08-30 23:50] alavatelliMCA opened #166 "Display all descriptions for a resource in Ready to Review queue on main admin page"
Currently the "Ready to Review" descriptions display each resource as it's image, caption and all "Ready to Review" descriptions with their tags and authors. This section should also display any approved or rejected descriptions for the resource as that may affect the admin's need to edit or approve as is. This relates to #164

[2018-08-31 00:05] alavatelliMCA opened #167 "Roles and permissions"
I might just be blind, but I couldn't find the outline of the roles and their permissions in the documentation. This issue is to 1. pester you for these details and 2. add to the documentation

I see these roles and want to be sure I have a clear understanding of them:

Guest
Viewer
Author
Editor
Admin

Thanks!

[2018-08-31 01:03] alavatelliMCA commented on #156
Ah, I may have misinterpreted. I think you were right I just transcribed it incorrectly in my notes–@susanchun was it a description of the URI or the resource?

Notes on this (which transcribes related elements of screenshot)

CREATING A NEW RESOURCE (labels and help text pasted below, needs edit to clarify)

NEW CANONICAL ID  (should be auto created, cross tabbing against existing IDs, hide from

[2018-08-31 02:01] alavatelliMCA commented on #157
The functionality you describe is hard to imagine so I'm having a hard time with design guidance. I think it created as black and white with square corners and the same weights sizes of other fields it will be a good start.

[2018-08-31 03:46] stacietaylorcima commented on #163
@alavatelliMCA Could you send me the design guide for this? I've got the Scavenger Hunt guide, but no guide for New Coyote.

Is this what you mean when you say you want the horizontal rules removed?
![no border](https://user-images.githubusercontent.com/25017973/44891716-bd401c00-ac95-11e8-9945-e87c4c4d35a2.png)

[2018-08-31 06:06] stacietaylorcima commented on #160
Just took a look and did a little testing, but logging out for the night so I'm taking some notes here so I can get back at it tomorrow:

It seems that when you're on any of the primary nav pages (Dashboard, Assignments, Resources, Descriptions, Members, Meta, Resource Groups), clicking the COYOTE logo will take you to the desired page, Dashboard (`organization_path`). However, when you're on any

[2018-08-31 06:07] stacietaylorcima commented on #162
Fixed! This issue will be closed upon Pull request approval and successful `squash & merge`.

[2018-08-31 06:08] stacietaylorcima commented on #161
Totally agree with your note about the labels, @alavatelliMCA. It makes it way more readable. Fixed both of the things you mentioned! Keep me in the loop if you see other places that similar labels should be updated. I know this display appears frequently throughout Coyote, but I'm not familiar enough yet to know exactly where they should be.

This issue will be closed upon Pull request approval a

[2018-08-31 06:11] stacietaylorcima commented on #164
Shoot me the design guide and I'll see what I can do to fix this! @alavatelliMCA  :+1:

[2018-08-31 15:56] alavatelliMCA commented on #163
Yes, this is it exactly. The horizontal rules came into play after the bar graphs were removed. Previously the dashboard had different statistics that were organized in a # of # fashion so a bar graph made sense. I am reviewing the dashboard with power users to ensure they are happy with this new approach to the stats. I will follow up if anything changes.

Anna Chiaretta Lavatelli
Director of Dig

[2018-08-31 16:04] sinabahram commented on #164
There is a design refinements PDF in the docs folder in the repo

[2018-08-31 16:10] sinabahram commented on #157
I’m just recommending an edit field that filters a drop down. I’m wish I could point you to a screenshot on a related site, but I’m not sure that would be effective since what I see with a screen reader is a bit different than what is chosen to visually represent this concept.

All I’m suggesting is a filterable dropdown, however you want it styled.

Does that make more sense? Let’s lock this down

[2018-08-31 16:15] alavatelliMCA opened #173 "Coyote Style Guide"
I am posting the original Coyote style guide here. Please keep in mind that these designs are now a couple of years old so there have been many adjustments to accommodate content and data structures that have been updated in the new version.

If in doubt about any element, please don't hesitate to reach out here or on slack.

[14 coyote design refinements.pdf](https://github.com/coyote-team/coyote

[2018-08-31 16:17] sinabahram commented on #156
Let’s please generate 2 more tickets for these. Let’s go through one by one:

This current ticket should be renamed to add “Content URI Description” field to Resource, full stop. That field is a text field meant to describe the content URI e.g. “map of where this object live” or “latitude and longitude of statue” or something … It’s not meant to describe the resource at all, but instead to simply

[2018-08-31 16:18] stacietaylorcima opened #174 "ActionView::Template::Error: undefined method `ordinality' for #<Resource:0x007fb6441f6d30>"
View details in Rollbar: [https://rollbar.com/stagingcoyote/stagingcoyote/items/11/](https://rollbar.com/stagingcoyote/stagingcoyote/items/11/)

[code]

[2018-08-31 16:19] alavatelliMCA opened #175 "Help text Changes on Resource creation"
I'll work on these with SC, but feel free to take a pass on clarifying purpose of field.
Text/Help Changes on Resource creation

IDENTIFIER (clearly indicate that this is what creates URL)
This should be a unique string that does not change - used to identify the resource within Coyote. If blank, we will attempt to set one for you based on the title field.

SOURCE URI (this is reference, not canon

[2018-08-31 16:20] sinabahram commented on #173
Request: If we are going to use this as a hard reference, will it be possible to update these designs to bring them into synchronicity with current Coyote so there’s a very clear path for devs to follow?

[2018-08-31 16:20] alavatelliMCA opened #176 "Auto create Canonical ID"
NEW CANONICAL ID should be auto created, cross tabbing against existing IDs
This field should also be hidden from UI, but @sinabahram it should be viewable (and editable?) on the resource? Not sure where we left that part of it.

[2018-08-31 16:28] alavatelliMCA commented on #173
I don't think updating these files is a good use of time or budget, all design files look different in the live web context. This file is simply a style reference point, especially the first page of the designs which lays out scale, color, and overall aesthetic. The subsequent pages based on Coyote's original scope demonstrate scale and spacing relationships in context. They are useful, as long as

[2018-08-31 16:33] alavatelliMCA commented on #176
Understood and confirmed.

[2018-08-31 16:34] sinabahram commented on #173
That is fair, but just so you know my side of it, it can be very frustrating to be asked to use them, but only sort of, kind of as a reference, but not exactly, etc. … I know what you mean, and I also agree with it, and I agree with the use of time/budget, but when we keep referring back to them repeatedly, it makes me think that maybe a separate design guide may be a good use of time later on, ev

[2018-08-31 17:40] alavatelliMCA commented on #164
Hi Stacie, it looks like you don't have an account on the old coyote: http://coyote.mcachicago.org

The queues are well designed there, and that is where the screenshot from above comes from with the rules around the whole resource and descriptions with horizontal rules between comes from. If you create an account I will make you an admin.

[2018-08-31 17:53] alavatelliMCA commented on #157
I think I know what you mean. Styling it like a standard drop-down should be fine, the selection from the filtered results can work like the drop-down in the upper right on the username.

happy to discuss with whoever is working on it if this isn't enough information.

[2018-08-31 19:31] #161 closed

[2018-08-31 19:31] #162 closed

[2018-08-31 21:48] stacietaylorcima opened #178 "ActionView::Template::Error: undefined method `ordinality' for #<Resource:0x007f089c2214c8>"
View details in Rollbar: [https://rollbar.com/stagingcoyote/stagingcoyote/items/12/](https://rollbar.com/stagingcoyote/stagingcoyote/items/12/)

[code]

[2018-08-31 22:05] stacietaylorcima opened #179 "ActionView::Template::Error: undefined method `ordinality' for #<Representation:0x007fc790c31d60>"
View details in Rollbar: [https://rollbar.com/stagingcoyote/stagingcoyote/items/13/](https://rollbar.com/stagingcoyote/stagingcoyote/items/13/)

[code]

[2018-08-31 22:17] stacietaylorcima opened #180 "ActionView::Template::Error: PG::UndefinedTable: ERROR: relation "scavenger_hunt_locations" does not exist LINE 1: SELECT "scavenger_hunt_locations".* FROM "scavenger_hunt_loc... ^ : SELECT "scavenger_hunt"
View details in Rollbar: [https://rollbar.com/livecoyote/livecoyote/items/38/](https://rollbar.com/livecoyote/livecoyote/items/38/)

[code]

[2018-09-01 00:08] alavatelliMCA opened #181 "Update stats to be in percentage format and add line bar graph representations"
Low priority request:

Instead of horizontal rules above each stat, these should be bar graphs, but also this will require re-writing the dashboard in the style of the old one on Coyote http://coyote.mcachicago.org
![screen shot 2018-08-30 at 5 55 46 pm](https://user-images.githubusercontent.com/8040710/44884191-fff6f980-ac7f-11e8-8a40-fb6442ac2347.png)

After polling the power users at MCA all ag

[2018-09-02 04:02] #148 closed

[2018-09-02 04:02] #149 closed

[2018-09-02 05:36] stacietaylorcima commented on #136
This is the error when clicking an answer on the survey:
[code]

[2018-09-02 05:39] #178 closed

[2018-09-02 05:45] #179 closed

[2018-09-03 02:09] sinabahram commented on #136
Following up on this. what’s the status of this bug as it seems critical?

[2018-09-03 18:52] stacietaylorcima commented on #164
Hi Anna! Before i go any further, I wanted to make sure I'm on the right track with this style update. It's a lot closer to the old version, but I kind of like the gray and think it provides nice seperation. What do you think? Can you take a look at this and let me know if it looks closer to how you want it? Also, can you let me know the specific tweaks that still remain. Thanks a million! :-) @al

[2018-09-04 03:48] stacietaylorcima commented on #158
This is totally critical! I've just submitted a pull request with a proposed fix. @sinabahram @alavatelliMCA

[2018-09-04 15:43] alavatelliMCA commented on #164
Hi Stacie, thank you, it's much closer! Although, I'm not so fond of the gray. But preference aside, the visual style dictates that everything be black and white so I would prefer a horizontal rule to divide each entry below the caption.

Also, it seems like there is a spacing issue around the image. There should be a small amount of space between the rule and the image on all sides as it is in th

[2018-09-04 15:47] alavatelliMCA opened #185 "Remove black rule around images"
There is a 1 pixel black rule starting to show in some areas of the site around images. This should be removed, there should be no border rules on any of the images. Thank you!

Below is a list of where I am seeing this on staging:

- **Undescribed & unassigned resources** and **Resources assigned to you for description** Queues on landing, https://staging.coyote.pics/organizations/1
- Resources l

[2018-09-04 16:36] flipsasser commented on #136
I'm not familiar with this - will address now

On Sun, Sep 2, 2018 at 7:09 PM Sina Bahram <notifications@github.com> wrote:

[2018-09-04 18:20] #141 closed

[2018-09-04 18:21] #158 closed, assigned to stacietaylorcima

[2018-09-04 18:26] stacietaylorcima opened #190 "NoMethodError: undefined method `upload' for nil:NilClass"
View details in Rollbar: [https://rollbar.com/stagingcoyote/stagingcoyote/items/14/](https://rollbar.com/stagingcoyote/stagingcoyote/items/14/)

[code]

[2018-09-04 18:27] alavatelliMCA commented on #164
I think everything else is looking spot on, thus far and that it's just this queue that we want to base off old Coyote. There were a few elements in new coyote introduced without any known reason on the MCA side, such as the treatment of these items on the dashboard. Feel free to point me to any other items that don't have a clear directive I am happy to clarify.

[2018-09-04 18:55] stacietaylorcima opened #191 "ActionView::Template::Error: undefined method `attachment_path' for #<#<Class:0x007f2ad41ada78>:0x007f2ad1c69528>"
View details in Rollbar: [https://rollbar.com/stagingcoyote/stagingcoyote/items/15/](https://rollbar.com/stagingcoyote/stagingcoyote/items/15/)

[code]

[2018-09-04 18:56] stacietaylorcima commented on #132
Closing because of duplicate. Will complete this today and close the other issue as well.

[2018-09-04 18:56] #132 closed

[2018-09-04 19:58] stacietaylorcima opened #194 "ActionView::Template::Error: undefined method `ordinality' for #<Resource:0x000000084520d8>"
View details in Rollbar: [https://rollbar.com/livecoyote/livecoyote/items/39/](https://rollbar.com/livecoyote/livecoyote/items/39/)

[code]

[2018-09-04 19:59] stacietaylorcima opened #195 "ActionView::Template::Error: undefined method `ordinality' for #<Resource:0x0000000707ae20>"
View details in Rollbar: [https://rollbar.com/livecoyote/livecoyote/items/40/](https://rollbar.com/livecoyote/livecoyote/items/40/)

[code]

[2018-09-04 19:59] #194 closed

[2018-09-04 22:29] flipsasser commented on #136
Fix is in CI now

[2018-09-04 22:55] #195 closed

[2018-09-04 22:55] #190 closed

[2018-09-04 22:55] #191 closed

[2018-09-04 22:55] #180 closed

[2018-09-04 22:56] flipsasser commented on #176
This is done

[2018-09-04 22:56] #136 closed

[2018-09-04 22:57] flipsasser commented on #128
This was deployed awhile back as part of the redesign!

[2018-09-04 23:12] flipsasser opened #199 "API `/resources` endpoint needs to return resources by canonical OR database ID"

[2018-09-04 23:13] flipsasser commented on #199
https://github.com/coyote-team/coyote/pull/198

[2018-09-04 23:13] #199 closed

[2018-09-05 06:15] stacietaylorcima commented on #131
Hi @alavatelliMCA! I wanted to get some clarification on this issue. I've updated the style of the Ready to Review queue to more closely match old Coyote per issue #164 (see image below). But, I think this issue may be hitting on some other issues with it that I don't fully understand (like maybe order of the elements or something). Can you take a look at the screenshot below and let me know what

[2018-09-05 16:56] alavatelliMCA opened #201 "Events not showing in chron order in search"
This is a bit problematic, apparently, folks are searching for vernissage and not always seeing that this year's is happening. Funny because for me 2018 is showing up first, but I'm also not sure what search terms are being used.

![screen shot 2018-09-05 at 11 55 21 am](https://user-images.githubusercontent.com/8040710/45108610-b33d7380-b102-11e8-902f-e288722f727e.png)

[2018-09-05 17:01] sinabahram commented on #201
sCould you explain this a bit further? Are you saying that the created_at timestamps were not maintained across the import?

[2018-09-05 17:14] alavatelliMCA commented on #201
Oh my goodness, wrong github. Closing this reopening on mca website. So sorry. Chaos.

[2018-09-05 17:14] #201 closed

[2018-09-06 16:55] alavatelliMCA commented on #155
This bug is now blocking my ability to efficiently approve sample content. I will approve selected content manually if this is a complicated issue to solve.

[2018-09-06 22:52] alavatelliMCA opened #202 "Select all, adjust to select all on that page (rather than all entries in the system)"
IT seems the select all box actually selects ALL entries in the system, not just all on the page.

So it appears that I approved every single description in coyote by using the bulk status change button. That should be changed to select all on that page, not all on all pages, right? Otherwise, we should just remove the select all option as it is a dangerous switch that can be flipped for all recor

[2018-09-07 00:31] alavatelliMCA commented on #155
Hooray, it works. However a small bug (hopefully small).

When I selected bulk status change to approved there is no visual change. The screenshot below shows that there is a notification in the upper left that states "Status changed to 'Approved'" however there is no visual change until I click on descriptions again to reload, as shown in two screenshots below.
![screen shot 2018-09-06 at 3 17 51

[2018-09-07 16:05] alavatelliMCA commented on #131
Hi Stacie, This looks fantastic. Thank you!
I don't see any issues with the screenshot, is there something that I might be missing that I should be looking for?

[2018-09-07 17:57] stacietaylorcima opened #204 "ActiveRecord::StatementInvalid: PG::UndefinedColumn: ERROR: column scavenger_hunt_survey_answers.survey_question_id does not exist LINE 1: ...avenger_hunt_survey_answers"."player_id" = $1 AND "scavenger..."
View details in Rollbar: [https://rollbar.com/livecoyote/livecoyote/items/41/](https://rollbar.com/livecoyote/livecoyote/items/41/)

[code]

[2018-09-07 18:43] #164 closed

[2018-09-07 18:43] #185 closed

[2018-09-07 18:51] stacietaylorcima commented on #131
Excellent! Glad to hear it's what you were looking for. I was only asking for clarification because I wasn't sure if there were things you wanted to be rearranged (example: moving the "by author" under the tags) or something. Things aren't in the exact same order as before, so just let me know if there are any other tweaks. If not, I just pushed fixes for this to staging and I can close the issue

[2018-09-07 19:40] #163 closed

[2018-09-07 19:41] alavatelliMCA commented on #131
I actually think it looks better the way you have it. Let’s push and close it out!
Thanks.

Anna Chiaretta Lavatelli
Director of Digital Media

Museum of Contemporary Art Chicago
220 E Chicago Ave
Chicago, IL 60611
alavatelli@mcachicago.org<mailto:alavatelli@mcachicago.org>
312-397-4047<tel:312-397-4047>
mcachicago.org<http://www.mcachicago.org>
This message is for the designated recipient only an

[2018-09-08 14:53] #131 closed

[2018-09-10 14:05] alavatelliMCA opened #205 "Scavenger Hunt Design - Typography"
The design really is still very close, but to best see any layout concerns let's first address the line spacing now that the font has been updated. This should just be making adjustments to match the design document typographic treatment.

[2018-09-10 17:40] stacietaylorcima commented on #205
You got it! I've got some good line spacing fixes locally, but won't be able to push them up until tonight. Since I'm not going to push them until tonight, I'll try to drop in some other updates that will take it closer to the design guide. If I can get the PR approved and merged tonight (or early tomorrow morning), you'll be able to jump in and provide more detailed adjustments tomorrow! Go, team

[2018-09-12 05:32] stacietaylorcima commented on #129
**Question/suggestion:** What would you think about for the longer format fields (text, notes, etc) having a button that says "view" that when you click it, a modal pops up with the information? Let me know what you're thinking. I'm just trying to brainstorm ways we can keep this page clean and concise but still keep all the information at our fingertips. @alavatelliMCA @sinabahram

[2018-09-12 05:39] stacietaylorcima commented on #160
_This issue correlates with another issue (#126) that says "The navigation disappears on the user page"._

<hr>

The problem here is that all the "secondary navigation" pages (like, Support, Profile, Organizations, etc) aren't associated with a specific organization, they're associated with the user.

So, if a user is on one of the main navigation pages (Resources, Descriptions, Meta, etc…) and th

[2018-09-13 02:26] sinabahram commented on #160
I’d be interested to know Flips’ thoughts here. #1 seems the easiest and most straight forward. I could see how #2 could have some elegance, though this information is session-based, so storing it in a cookie that would persist across logins seems like overkill. #3 seems too much like an unnecessary step of persistence. After all, this information is known and only needed at interaction time with

[2018-09-13 02:28] sinabahram commented on #129
@alavatelliMCA should take the lead on this, but I hesitate to berry information any more in this interface. If anything, the usual usable concerns from Anna an others is around needing to go through too many steps to access something, so a modal may be heading in the wrong direction.

[2018-09-13 17:05] alavatelliMCA commented on #205
A note for further refinement:
The start page is good for looking at the various type sizes and how they need to be normalized. Below is a side by side with original design doc:

![screen shot 2018-09-13 at 12 01 22 pm](https://user-images.githubusercontent.com/8040710/45503544-c7115700-b74c-11e8-9454-490f6e0db7f0.png)
https://live.coyote.pics/scavenger/games/11

[2018-09-13 17:09] alavatelliMCA opened #213 "Coyote Scavenger Hunt - updating organization name"
So I realized that because we are MCA Chicago in Coyote our name is not displayed as Museum of Contemporary Art Chicago in the Coyote Scavenger Hunt interface. Can this be updated? I'm ok if solution is a hard code on the scavenger hunt side.

screenshot of organization, and side by side layout of scavenger hunt design:
![screen shot 2018-09-13 at 12 03 51 pm](https://user-images.githubusercontent

[2018-09-13 17:16] sinabahram commented on #213
Let’s please avoid hard coding anything, much less names of entities.

I’m not sure I understand the issue. Can you not simply change your name in Coyote?

[2018-09-13 17:18] alavatelliMCA commented on #213
There isn't an option for me to edit my organization, I can only add a new one.

[2018-09-13 17:23] alavatelliMCA opened #214 "Image hints working!"
https://live.coyote.pics/scavenger/games/11/clues/35/hints/100?confirm=true

I'm telling the team to stick to square images for best display on mobile screens. A future dev item could be cropping or constraining (when there is more money to develop the game).

[2018-09-13 17:26] alavatelliMCA opened #215 "Content entry field help text color illegible"
"Enter object title" should be white according to designs. This avoids contrast issues as colors will be different for each org, also the help text in the field should read "Enter answer" Though we haven't considered if an org pick a light-toned color, but judging from our survey of logo colors I don't think this will be an issue.

https://live.coyote.pics/scavenger/games/11/clues/35/answer/new
<i

[2018-09-13 17:31] alavatelliMCA opened #216 "Orange focus state clashes"
The focus state is an orange glow which looks a little insane on the pink, and just a bit ugly on the white background.

<img width="388" alt="screen shot 2018-09-13 at 9 27 37 am" src="https://user-images.githubusercontent.com/8040710/45504928-d4c8db80-b750-11e8-8a12-a84568514402.png">

<img width="386" alt="screen shot 2018-09-13 at 9 28 54 am" src="https://user-images.githubusercontent.com/8040

[2018-09-13 17:33] stacietaylorcima commented on #205
Thanks, @alavatelliMCA! This should be a pretty easy fix. Staging is a bit more up to date with styles at this point than production by the way.

[2018-09-13 17:34] sinabahram commented on #216
Sorry if I missed this, but is there a color already assigned for this in a visual design guide or do you have a specific color that you want this replaced with?

[2018-09-13 17:38] stacietaylorcima opened #217 "Pundit::NotAuthorizedError: not allowed to edit? this #<Organization id: 1, title: "MCA Chicago", created_at: "2018-07-24 15:11:12", updated_at: "2018-07-24 15:11:12">"
View details in Rollbar: [https://rollbar.com/stagingcoyote/stagingcoyote/items/16/](https://rollbar.com/stagingcoyote/stagingcoyote/items/16/)

[code]

[2018-09-13 17:41] alavatelliMCA opened #218 "No submit "button" for submitting an answer"
Screenshot and design doc side by side

![screen shot 2018-09-13 at 12 41 18 pm](https://user-images.githubusercontent.com/8040710/45505498-5a00c000-b752-11e8-9940-77c7e8fb33d7.png)

[2018-09-13 17:42] alavatelliMCA opened #219 "Help page"
The designs accounted for having some kind of orphan help page. I am adding this issue as a heads up, as we do not have content for that help page. I will update when we have content.

[2018-09-13 17:44] alavatelliMCA opened #220 "You Are Correct screen does not show elapsed time or penalty time info"
<img width="386" alt="screen shot 2018-09-13 at 9 28 05 am" src="https://user-images.githubusercontent.com/8040710/45505663-c11e7480-b752-11e8-8531-3dff84962209.png">

[2018-09-13 17:48] alavatelliMCA commented on #205
After looking at the overall scale and spacing treatment against design files. Below are a few screens where type alignment is off, let's check after you've addressed the above as they may be remedied in the process.

https://live.coyote.pics/scavenger/games/11/finish
<img width="386" alt="screen shot 2018-09-13 at 9 28 22 am" src="https://user-images.githubusercontent.com/8040710/45504814-7bf9430

[2018-09-13 17:53] stacietaylorcima commented on #205
@alavatelliMCA Are you looking at staging?

[2018-09-13 17:56] alavatelliMCA opened #221 "Prioritization not showing in resource list view"
We are missing the toggle-able label in a column priority was a part of old coyote.

old coyote:
<img width="1436" alt="screen shot 2018-09-13 at 9 59 31 am" src="https://user-images.githubusercontent.com/8040710/45506130-fbd4dc80-b753-11e8-89b4-bb2100619d8c.png">

New coyote:
![screen shot 2018-09-13 at 12 46 48 pm](https://user-images.githubusercontent.com/8040710/45506253-52421b00-b754-11e8-875

[2018-09-13 18:29] alavatelliMCA opened #222 "Rework Survey"
- No submit button for survey answers
- Question 4 is a write-in, it needs a paragraph style box to accommodate approx. 4 lines of text, otherwise everything is cut off. Potentially auto-expanding?
- Title of page should read “Help us improve the game!” not "Survey Thanks/Explanation

![screen shot 2018-09-07 at 12 58 25 pm](https://user-images.githubusercontent.com/8040710/45507881-eada9a00-b758-

[2018-09-13 18:34] sinabahram commented on #221
I’d like to flag this. we have always referred to it as priority. Is it now to be called urgent? If so, I’d like to change this in more than just the UI. We are wanting to stop doing this horrendous practice of having things called one thing in the code and another in the UI.

Therefore, my question is: should this field for now and in the future be referred to as urgent or priority?

[2018-09-13 18:43] alavatelliMCA opened #223 "Leaderboard click to open functionality - save for future version"
- Hide scores when a username isn't submitted
- click to expand doesn't work to see which single org was completed, I see that the design is problematic because the names are shortened. Clearly we will have to deal with full names, so fingers crossed it will look ok.

Style: text is scaled down, which will be good since we have to have full length names
<img width="940" alt="screen shot 2018-09-13

[2018-09-13 19:52] alavatelliMCA opened #224 "Header styles?"
Hi since the headers are in all caps I wondered how they were typed in on the backend in case of style change. Are they typed in as Header style, sentence style, or (fingers crossed not) all caps? When I provide content edits I'd like to be consistent with the style already in place.

Ideally we would have sentence style in all places.

e.g.
"Thanks for playing!"

[2018-09-13 19:56] sinabahram commented on #224
I also agree with no all-caps. This is an accessibility issue as well.

[2018-09-13 19:58] alavatelliMCA opened #225 "Thanks for playing page text updates"
Please update the text on the "Thanks for playing!" page to match text below the username email fields about Coyote in the smaller type size (same as the "Your email is required..." style)
https://live.coyote.pics/scavenger/player

Thanks for playing!
Enter a username to submit your score
Your email is required for rewards. Only your username is displayed on the leaderboard.
[username and content

[2018-09-13 21:48] susanchun commented on #225
Just noticed, can we use "prizes" instead of "rewards" to be consistent with language in signage, etc?

Your email is required for prizes. Only your username is displayed on the leaderboard.

[2018-09-14 17:04] stacietaylorcima opened #228 "ActionView::Template::Error: undefined method `players_path' for #<#<Class:0x00000006ab97c0>:0x00000006ab76a0> Did you mean? player_path"
View details in Rollbar: [https://rollbar.com/livecoyote/livecoyote/items/42/](https://rollbar.com/livecoyote/livecoyote/items/42/)

[code]

[2018-09-14 19:03] alavatelliMCA opened #229 "Support page content"
Either I need to make some updates to the page formatting, or styling is needed. Happy to make updates to text if they just need class labels if you can tell me where it is stored.
https://staging.coyote.pics/support

[2018-09-14 21:33] alavatelliMCA opened #231 "Ready to Review: Approve, Edit, Reject (view becomes edit)"
Buttons on Ready to Review should be Edit, Approve, Reject
Currently the options are View, Approve, Reject
![screen shot 2018-09-14 at 4 31 19 pm](https://user-images.githubusercontent.com/8040710/45576160-aecc3580-b83b-11e8-8848-d18253c6ceb4.png)

[2018-09-14 21:39] sinabahram commented on #231
Question:

Then how do we “view” it? the thing itself being a link?

[2018-09-14 21:43] alavatelliMCA commented on #231
It's ideal to jump straight into editing from the dashboard because if we aren't hitting the approve button we need to fix something in the description. I don't think there is a need to view the description page from this queue.

I realized because I was on a mission approving as many as I could in current coyote, and when I returned to reviewing new coyote I noticed the difference. We almost alwa

[2018-09-14 22:27] alavatelliMCA opened #232 "Audit log column width very narrow"
https://staging.coyote.pics/representations/5806

The column is so narrow for the description field it is hard to read, I imagine when we start using the notes field that it will also pose an issue. Perhaps type can be scaled down for the audit log and column headers abbreviated? I am up for ideas.

[2018-09-14 22:35] alavatelliMCA commented on #129
Oops, I will close duplicate I just made. I think burying information is a bad Idea as well. How about scaling type down a little and abbreviating column headers? E.g. Lang for Language?

[2018-09-14 22:35] #232 closed

[2018-09-14 22:37] alavatelliMCA opened #233 "Last active column on member list page?"
To aid in deciding when to archive a user it would be really helpful to include a last-active date on each user.

Also, is delete functionally now archive? Maybe we can just update it?

[2018-09-14 22:47] alavatelliMCA opened #234 "Audit log updates (3)"
I just updated Leah's description of this to test–https://staging.coyote.pics/representations/5768
3 issues occurred:
- my user is not tracked as having made the change, my changes are attributed to **unknown**
- the status label changes to **approved** everywhere and should still be **ready to review** on the previous lines (when first created and when updated)
- a `["` appears on either side of

[2018-09-14 22:54] alavatelliMCA opened #235 "Adjustments to assignments list display"
https://staging.coyote.pics/organizations/1/memberships/70
Text styling is not showing up, see underlines which should be creating italic text here:`Tamar-kali, _Demonfruit Blues_`

The assignment list should show status of each thing, whether described or not. Clicking on image should jump you two it's resource page, not the assigment page that contains no new information.

[2018-09-14 22:55] alavatelliMCA opened #236 "Nice to have: approve button on resource page for admins"
It would be really great if you could View, Edit, Approve next to the descriptions shown below the image in the resource page.

[2018-09-14 23:04] alavatelliMCA opened #237 "Authors not displayed in description list view"
https://staging.coyote.pics/organizations/1/representations

Need to open description to see who wrote it. Not the end of the world, but worth fixing.

[2018-09-14 23:05] sinabahram commented on #233
I think we should leave “delete” be, since I differentiate between deleting and archiving and not everyone will want to archive all users per the MCA-way of doing things e.g. some folks may wish to just delete a user, at which point I do think we need to define what that means.

I claim that this should mean that their descriptions do not also get deleted, but rather get attributed to anonymous/un

[2018-09-14 23:06] alavatelliMCA commented on #233
Sounds good to me. Let me know when ready for testing. I don't currently have an archive option.

[2018-09-14 23:11] sinabahram commented on #231
That’s understood from a workflow point of view, but does not answer my question. It needs to be possible to do the “view” action some how since that’s a screen that exists for a reason, right?

Do we have another way of achieving this? I just want to make sure we don’t inadvertently orphan view functionality, regardless of whether or not it is used a lot.

Hope that makes sense.

[2018-09-14 23:16] sinabahram commented on #237
Let me know if this is due to me missing it, but it seems like some of these tickets are not getting sorted into our “nice to have”/”must have”/etc. buckets. Anna, may I ask that this happen? if it’s happening, and I’m just missing it, then sorry about that. I see it on some, but not on all.

[2018-09-14 23:16] alavatelliMCA commented on #231
View appears all over in many other contexts, this change would just be to the ready to review queue.

Anna Chiaretta Lavatelli
Director of Digital Media

Museum of Contemporary Art Chicago
220 E Chicago Ave
Chicago, IL 60611
alavatelli@mcachicago.org<mailto:alavatelli@mcachicago.org>
312-397-4047<tel:312-397-4047>
mcachicago.org<http://www.mcachicago.org>
This message is for the designated recipi

[2018-09-14 23:18] sinabahram commented on #231
That’s super fair. Ok, thanks for that.

[2018-09-17 17:40] #225 closed

[2018-09-17 17:42] #215 closed

[2018-09-17 17:46] #220 closed

[2018-09-18 04:38] stacietaylorcima commented on #216
I am re-opening this issue:

**@alavatelliMCA and @sinabahram Can I get your thoughts on my message below?**

I think that the magenta color being used on the MCA organization for Scavenger Hunt may need to be updated to meet accessibility requirements. Take a look at these details below and let me know if 1) I'm overlooking something and the magenta actually IS accessible and/or 2) what changes w

[2018-09-18 05:04] stacietaylorcima commented on #216
OH! If we replace the magenta with an accessible color, I could figure out how to make the focus indicator be white when the background is color and make the focus indicator the new color when the background is white. I was spending a bunch of time trying to find a focus indicator color that worked with both a new color and white and was having a hard time, but I think that could be a really great

[2018-09-18 14:09] sinabahram commented on #216
This sounds promising. I’m sure a white focus ring wouldn’t work well for all colors other than a white background, but it’s a step in the right direction. Also, we don’t have to solve this problem perfectly, only for the colors for the participating organizations. Can we gather said color list from MCA  et al.? Stacie, maybe you can manage that?

[2018-09-18 14:57] alavatelliMCA commented on #216
Thank you. I imagine a white on a colored background and black or RGB full blue on white background. I will adjust our hex and run every submitted color through the tester so that we can ensure no contrast issues. We are waiting on orgs to submit their colors, will get the list asap.

[2018-09-18 19:29] alavatelliMCA opened #242 "Functionality: After returning to clue starts hint sequence to first hint"
From each hint page when you "return to clue" and you decide you still need another hint you are sent back to the first hint no matter how many you have viewed.

[2018-09-18 19:31] alavatelliMCA opened #243 "Answer variations acceptance needs solve"
We have a correct answer of "10", but "Ten" is not accepted.

[2018-09-18 19:46] alavatelliMCA commented on #166
Alternative solve, display what other descriptions exist below the ready to review description, with their status, so that one is aware of other descriptions existing before approving. Display Quantity+Metum+Status
AND
Add an approve button to the description page (currently there is no way to approve them without editing the description)

[2018-09-18 19:56] alavatelliMCA opened #244 "Reject doesn't change description status"
Reject doesn't change description status.

[2018-09-18 19:58] alavatelliMCA opened #245 "Creation not logged in audit log (or not imported with data?)"
https://staging.coyote.pics/representations/3597

I just approved this description from the dashboard, but audit log only shows the moment of approval.

[2018-09-18 20:03] alavatelliMCA opened #246 "Unassign User on Representation Rejection"
The action REJECT, unassigns the user who wrote description and puts the resource back into the unassigned queue if not assigned to anyone else.

[2018-09-18 20:05] alavatelliMCA commented on #229
Sina says add a multi-line edit field for markdown to be pasted in on this.

[2018-09-19 00:22] alavatelliMCA opened #247 "Sort order: Resources should be reverse chron from creation"
I can't figure out the display order of resources. On old coyote it is most recently added to the website first to oldest (reverse chron), this works well because we can quickly see if the API loses connection.

Additionally, right now I am trying to check that the data imported properly from the last SQL dump from old coyote and I can't figure out a way to check the records when the lists are in

[2018-09-19 03:06] stacietaylorcima commented on #224
All words on the backend are coded "sentence" style and had `text-transform: uppercase` sass applied to it. So, just so that I'm certain of the task at hand: **Nothing should be uppercased anywhere in Scavenger Hunt.** Can you confirm this is the intention here? Thanks!

@alavatelliMCA @sinabahram

[2018-09-19 03:07] #217 closed

[2018-09-19 03:14] #205 closed

[2018-09-19 03:15] sinabahram commented on #224
I don’t wish to speak for Anna, but please assume this is true unless if explicitly not, because that is an accessibility issue and nothing should be all caps.

[2018-09-19 03:42] stacietaylorcima commented on #222
@flipsasser After discussing this issue with @sinabahram today, it was decided that this survey needs to be reworked to comply with accessibility requirements. The survey should be in form of a form with radio buttons so that the user knows what options they have chosen/what questions they have answered. We'll need to keep in mind the feedback mentioned in this ticket as well: copy updates, text_f

[2018-09-19 03:50] sinabahram commented on #222
I’m open to this being toggle buttons, radio buttons, a drop down. Anything semantic, but a link that, when clicked, contacts the server with an answer, and does not indicate to the user it is/has been selected, is not correct, unless of course it’s the only question on a page, at which point that could make sense, but that’s not the case here.

Anna, please speak up now, but are you OK with this

[2018-09-19 14:14] alavatelliMCA commented on #222
First, I don't understand how underlining the correct answer is different than a radio button. Is the issue that underline is not strong enough of an indicator? If the selected answer had a full box around it would that fix the problem?

I am not thrilled about radio buttons because they are ugly, and potentially more confusing if we don't redesign the page. I don't like the idea of dropdowns as t

[2018-09-19 14:42] stacietaylorcima opened #250 "NoMethodError: undefined method `survey_answers' for nil:NilClass"
View details in Rollbar: [https://rollbar.com/stagingcoyote/stagingcoyote/items/17/](https://rollbar.com/stagingcoyote/stagingcoyote/items/17/)

[code]

[2018-09-19 14:44] stacietaylorcima commented on #222
This is my bad. When I was testing it, I thought all of the options were underlined, not just selected ones.  I just tested on staging from my phone and you’re right, they underline once selected.

[2018-09-19 14:53] stacietaylorcima commented on #222
This is my bad. That problem only seems to be local for me. When I was testing it locally with Sina yesterday, I saw that all of the options were underlined, not just selected ones.  I just tested on staging from my phone and you’re right, they underline once selected.

Check this screenshot on an incognito window of my local dev environment: it shows all answers underlined. I'll check out why min

[2018-09-19 15:03] alavatelliMCA opened #251 "only 1 clue showing up"
I've checked in staging and in incognito mode and suddenly when reviewing the interface only one of the 4 clues are appearing. This will slightly hinder our review process.

Thank you!

[2018-09-19 15:07] alavatelliMCA commented on #160
I'll note that when I navigate to Coyote in a new browser window while I'm already logged in I am also sent to the login page, but I see my name in the upper right. When I click login it takes me to the main dashboard page. This is a very low impact issue that should be last on the list of things to tackle.

[2018-09-19 15:10] alavatelliMCA commented on #213
#248

[2018-09-19 15:27] alavatelliMCA commented on #224
Great to hear, all is wonderful. We'll provide edits in sentence style when we do our editorial review. Closing this out.

[2018-09-19 15:27] #224 closed

[2018-09-19 15:36] stacietaylorcima commented on #251
@alavatelliMCA Can you confirm that all the clue/hint/question/answer sets you've created are marked with "approved" status? This may be a side effect of the bulk approval issues were facing.

[2018-09-19 15:37] alavatelliMCA commented on #128
I see no option to archive users.

[2018-09-19 15:42] alavatelliMCA commented on #251
A ha! I should have checked that first, thank you. This can be closed.

Anna Chiaretta Lavatelli
Director of Digital Media

Museum of Contemporary Art Chicago
220 E Chicago Ave
Chicago, IL 60611
alavatelli@mcachicago.org<mailto:alavatelli@mcachicago.org>
312-397-4047<tel:312-397-4047>
mcachicago.org<http://www.mcachicago.org>
This message is for the designated recipient only and may contain privil

[2018-09-19 15:45] alavatelliMCA commented on #155
Related to #202

[2018-09-19 15:46] alavatelliMCA commented on #251
Of course, I have now approved every single description in the system (again) ;) #155 and #202

[2018-09-19 16:00] alavatelliMCA opened #252 "Implement User Sign Up"
I was testing the ability to invite users, and no invitations are received.

Also, to confirm: we are removing the sign-up feature? Because that is certainly gone.

[2018-09-19 16:00] stacietaylorcima commented on #128
I see the option to archive users in the code, so I have a feeling this is another permissions issue. I’m curious to know what happened with permissions/ Pundit authorizations when we moved to new coyote? @sinabahram @flipsasser

[2018-09-19 17:45] stacietaylorcima opened #253 "ActionView::Template::Error: undefined method `author' for #<Class:0x000000082b3a10>"
View details in Rollbar: [https://rollbar.com/stagingcoyote/stagingcoyote/items/18/](https://rollbar.com/stagingcoyote/stagingcoyote/items/18/)

[code]

[2018-09-19 18:17] sinabahram commented on #222
Stacie, we should figure out the difference between your dev environment and staging/live going forward.

Anna, the underline is not the issue here. the problem is that the underline should be used to only convey links that are clickable per WCAG and just best practices in general. So, if we have three links, they must remain underlined at all times, regardless of their state e.g. you’ve selected

[2018-09-19 20:22] alavatelliMCA commented on #252
Scratch that, invite went to spam, it just took a while to show up.

[2018-09-20 00:18] #251 closed

[2018-09-20 00:19] stacietaylorcima commented on #252
So to confirm, we don't want the sign up feature on the home page? @alavatelliMCA

[2018-09-20 00:31] stacietaylorcima commented on #244
Hey @alavatelliMCA! Can you give me more details about where this is happening for you? I'm rejecting from the Ready to Review queue and it seems to be working, so I'm thinking there is another place this is broken for you. Let me know what you're experiencing. Thanks!

Video of me walking through my experience with the rejection process on staging and successfully rejecting a description: https:/

[2018-09-20 01:43] sinabahram commented on #252
It was never decided what that meant given the new org model, but I have a suggestion.

I think a user can make a new account, but then they just get a dashboard that says “You are not in any organizations.”

They can make their own, and invite people to it, etc. or they can be invited to other existing ones, but other than that, can’t do much, which makes sense since only a user in an organizatio

[2018-09-20 03:18] stacietaylorcima commented on #165
**Notes on this issue:** I think we need to apply some kind of AJAX call to the `simple_form_for`. From what I've researched, we should need to pass `remote: true` through the form. `simple_form_for` accepts an options hash as the 2nd argument so I thought something along these lines would work: `= simple_form_for representation, remote: true, html: { class: 'form form--inline' }, wrapper: :inline

[2018-09-20 15:49] sinabahram commented on #243
Stacie, I think you’re getting  a bit lost in the details, so let’s zoom out for a second, and then solve the problem.

Note, I dislike the idea of accepting “ten” when “10” was the answer provided in the CMS. It’s black magic of the highest order, incredibly unclear, not at all intuitive, and most definitely not default behavior, IMHO. Having said all that, as a technical programming problem, it

[2018-09-20 18:57] stacietaylorcima commented on #243
THIS is amazing info. I'm putting it to work right now! I'll let you know if I have other questions. Thank you so much for all this detail.

[2018-09-20 19:29] flipsasser opened #256 "Ensure we're really doing JSONAPI correctly"
We need to go through the API carefully and double-check that some Rails conventions are not accidentally slipping in - we should also double-check all API documentation for accuracy

[2018-09-20 19:46] #218 closed

[2018-09-20 20:53] stacietaylorcima commented on #242
I wanted to get some more thoughts on this issue. Sina and I were chatting and thought that perhaps a `session` variable was being stored at the hint level that actually needed to be at the clue level so that it would pick up if a user has already view hints on that clue. But I can't find a sessions variable. It very well might be there I just am looking for the wrong things. This is again somethi

[2018-09-20 21:34] alavatelliMCA commented on #252
I like this option, but also totally understand why we would need to restrict users and switch to an invite approach. I see this as low priority, as we have the needed user functionality to get our work done. (outside of archiving... #128 )

[2018-09-20 21:38] alavatelliMCA commented on #244
It does seem to be working now!

However,
1. we still have the problem that I am sent to the description page instead of remaining on the dashboard to continue approving and rejecting.
2. Also, when I hit the back button to go back to approving I need to reload the page to make it go away so I can get to the others.
3. The Not Approved tag looks to be the same color as ready to review, I think we

[2018-09-20 22:04] alavatelliMCA commented on #247
I can't figure out the sort order of resources, this means I have no way to check the data import for accuracy.
https://staging.coyote.pics/organizations/1/resources

I expected it would be by creation date, but creation dates from some records are as follows (order appearing in shown after the date and UTC
Creation dates:
2015-06-29 21:04:42 UTC First
2015-06-29 21:05:15 UTC From the fifth page i

[2018-09-21 01:59] sinabahram commented on #247
Yes, please most definitely put the date problem in its own ticket and prioritize the hell out of it too.

That, just straight up, should not be happening. Sorry, don’t have more at this time. @FlipSasser will need to examine what’s going on there.

[2018-09-21 19:40] stacietaylorcima commented on #242
@flipsasser Since you're really familiar with the Scavenger Hunt, do you have any thoughts on my message above? Or how to best implement this?

[2018-09-21 21:48] alavatelliMCA commented on #176
This is not working on the new organization I just made.

No ID auto fills, I had to enter one to create the ID on this resource -https://staging.coyote.pics/resources/20390

[2018-09-21 21:49] flipsasser commented on #176
This is not to generate identifier; this is to generate canonical ID. Are you seeing issues with identifier or canonical id?

[2018-09-22 17:18] #243 closed

[2018-09-22 20:56] stacietaylorcima commented on #242
Hey @flipsasser! As @sinabahram and I were going over this issue, we noticed there is no “previous hint” mechanism like there is in the designs. The show hints path does not remember the hints that a user has already been shown. All the logic that would be implemented in building that feature should solve this issue here. Can you build that feature?

[2018-09-23 13:14] stacietaylorcima commented on #216
Hey @alavatelliMCA! Have the other organizations submitted their colors yet?

[2018-09-24 15:48] alavatelliMCA commented on #216
I have 1, and we have a new one for ourselves since we failed the contrast test. I loved the pink, but we'll have to part ways.
Updated:
MCA: #0000FF (blue)
Smart Museum: #ee3224 (red)

[2018-09-25 15:28] #213 closed

[2018-09-26 19:36] stacietaylorcima commented on #244
Closing this because the initial bug has been solved and the comments provided are included in issue #246.

[2018-09-26 19:36] #244 closed

[2018-09-27 00:11] #242 closed

[2018-09-27 00:49] stacietaylorcima commented on #216
Hi @alavatelliMCA ! A couple things here:

The blue (#0000FF) you sent over meets accessibility requirements with small white text (8.59), but not small black text (2.44 ratio). This is only an issue in one spot on the game: the "end game" link on the left side of the footer. We have 2 options here:

1. **Keep the blue you chose, but make the "end game" link white instead of the black** portrayed

[2018-09-27 15:40] alavatelliMCA commented on #221
It isn't clear to me how this should be broken out as it is all interrelated from what I can see. So I'll do my best.

[2018-09-27 15:44] alavatelliMCA opened #265 "Prioritization not displaying in resources list view"
We are missing the toggle-able label in a column priority that was a part of old coyote.

old coyote:
<img width="1436" alt="screen shot 2018-09-13 at 9 59 31 am" src="https://user-images.githubusercontent.com/8040710/45506130-fbd4dc80-b753-11e8-89b4-bb2100619d8c.png">

New coyote:
![screen shot 2018-09-13 at 12 46 48 pm](https://user-images.githubusercontent.com/8040710/45506253-52421b00-b754-11e

[2018-09-27 15:47] alavatelliMCA opened #266 "Prioritization culls no search results"
This may be because prioritization is not importing? But I get no results when checking "urgent" and searching.

![screen shot 2018-09-13 at 12 47 07 pm](https://user-images.githubusercontent.com/8040710/45506260-566e3880-b754-11e8-8de3-a21fcff452ab.png)

Also, this checkbox does not remain checked after clicking search (others do).

[2018-09-27 15:57] flipsasser commented on #165
@stacietaylorcima I'd recommend you provide a simple `return_to` param in the form, and have the controller performing the approve / reject workflow check for that param to redirect users to, only _then_ falling back to the show representation page.

[2018-09-27 16:17] sinabahram commented on #165
I actually was hoping for an AJAX solution here. can we have this not incur a page load? The API is fully there. Can we not just use SimpleForm to do an ajax request instead of a post with redirect?

I ask because this will lose focus for keyboard users, but more importantly, lead to a 1,000 new design requests from MCA because it may not scroll to the right place after page load, cause a flicker,

[2018-09-27 16:30] flipsasser commented on #165
That's feasible. I'll work w/ @stacietaylorcima on getting that implemented.

[2018-09-27 16:32] flipsasser commented on #128
I believe this is a mismatch between staff and non-staff permissions. @alavatelliMCA, are you looking at the "Members" link when you search for the archive functionality?

[2018-09-27 20:09] alavatelliMCA opened #269 "No Meta exist when you create a new org"
I think at the least, alt and long should auto-populate. Though we can build these by hand for each org if need be. However, this does mean that we need to build all the scavenger hunt meta for every new org. Potential for error.

[2018-09-27 20:10] alavatelliMCA opened #270 "Resource groups from MCA auto added to new orgs and are required - should not be"
Orgs may or may not use the resource group feature so it should not be required. Also, the resource groups from MCA should not auto-populate in all organizations since those are specific to the MCA.

(Submitting as a separate ticket–rather than groups, I think the core meta _should_ auto-populate, such as `alt` and `long`#269)

[2018-09-27 20:22] alavatelliMCA opened #271 "Date discrepancies in Coyote data"
I searched on records added on 8/30 (the day we did the dump) because I thought it was weird that last image in the list was in June (I had recalled that being a July image), and I found a major discrepancy:
https://staging.coyote.pics/resources/20051
On new coyote this image shows as being created 2018-04-23 22:42:11 UTC
https://coyote.mcachicago.org/images/21175
On old coyote it shows as being c

[2018-09-27 20:28] sinabahram commented on #271
I have a suspicion that it is just using time of import instead of copying over the timestamp from old Coyote.

Hopefully, while absolutely critical, this is a very easy fix.

[2018-09-27 20:37] sinabahram commented on #269
Yes, alt and long and scavenger hunt meta should populate for every new org. that’s a bug, not intended functionality.

[2018-09-27 20:38] sinabahram commented on #270
Anna, is a resource group required in some way now explicitly? I agree that MCA’s defaults should be removed there, but perhaps one default group is actually not a bad idea.

[2018-09-27 20:55] sinabahram commented on #271
The more I think about this, the more I disagree with my previous assertion. Something else is going on here.

[2018-09-27 20:56] alavatelliMCA commented on #270
Yes explicitly required, Bridget couldn't create a new resource without assigning it to a group. I'm fine with a default group, perhaps we take a cue from Wordpress "uncategorized."

[2018-09-27 21:11] sinabahram commented on #270
Yeah, that’s exactly what I’m thinking.

[2018-09-28 01:25] stacietaylorcima opened #272 "ActionView::Template::Error: undefined method `players_path' for #<#<Class:0x007f5db02c18b0>:0x007f5daa2065c0> Did you mean? player_path"
View details in Rollbar: [https://rollbar.com/stagingcoyote/stagingcoyote/items/19/](https://rollbar.com/stagingcoyote/stagingcoyote/items/19/)

[code]

[2018-09-28 01:39] stacietaylorcima commented on #222
Flip merged these changes with a closing message of "(closes #222)" but I don't think it reads the close message if it has parenthesis around it because I'm noticing another with a similar close message didn't auto-close. Anyway, I'm going to manually close this.

[2018-09-28 01:39] #222 closed

[2018-09-28 01:42] stacietaylorcima commented on #159
Flip merged these changes with a closing message of "(fixes #159)" but I don't think it reads the close message if it has parenthesis around it because I'm noticing another with a similar close message didn't auto-close. Anyway, I'm going to manually close this.

[2018-09-28 01:42] #159 closed

[2018-09-28 05:11] stacietaylorcima commented on #272
This issue has triggered once before since we set up Rollbar to Github issues: #228.

[2018-09-28 15:25] alavatelliMCA opened #275 "Leaderboard content approach"
Notes on how the leaderboard SHOULD operate:

The leaderboard should get archived and then wiped out everytime content is changed.

How do we handle this for launch?
- Leaderboard expires when we launch, we post winners on the website (and full leaderboard?)
- When content for an organization changes, their leaderboard wipes out.
concerns:
- How do we know when to archive leaderboard before it get

[2018-09-28 17:37] alavatelliMCA opened #276 "Organizations created all gone"
Bridget and I created 3 organizations on staging yesterday and they are all gone now. Before I recreate them I want to make sure we are in a stable place for doing this testing.

Screenshot I took after creating one of the first of the three–
![screen shot 2018-09-27 at 1 59 31 pm](https://user-images.githubusercontent.com/8040710/46224192-34131800-c31b-11e8-8941-2ff6fbe65952.png)

Screenshot from

[2018-09-28 17:54] alavatelliMCA opened #277 "Organization doesn't appear in scavenger hunt"
I just created an organization, all the meta, and entered all the info for 1 clue and I don't see it showing up in the scavenger hunt. I am looking in incognito. Please let me know if I need to do anything else.

Thank you!

screenshot showing organization and all the clues added to the resource:
![screen shot 2018-09-28 at 12 54 18 pm](https://user-images.githubusercontent.com/8040710/46225033-ab

[2018-09-28 19:07] sinabahram commented on #277
And everything associated with it is approved?

[2018-09-28 19:09] sinabahram commented on #276
Everytime staging is updated, it copies over from production; therefore destroying staging content.

Can you create them in production for testing? That way, they’ll also get copied over to staging in the future.

In fact, if you do that now, and then we update staging, it’ll copy them over so we can then have you test latest code on staging.

[2018-09-28 19:17] sinabahram commented on #275
Note to devs:

Most of these topics are tabled until after launch.

The one critical thing that must be figured out right now is simply that we can clear the board upon launch to make sure we start with a blank slate. The board will then not be cleared until we establish answers to the issues highlighted in this ticket e.g. automatic clearing, archiving, etc. are all issues for future development

[2018-09-28 19:49] #216 closed

[2018-09-28 19:54] flipsasser commented on #275
In the UI, the leaderboard is not scoped to organization but I have a pull request up to make that happen.

Otherwise, yes we can easily clear out before launch.

Can you please confirm that the preferred behavior is that when **any** game content changes (e.g. anyone adds, deletes, or updates representations that make up the game), we should clear the leaderboard? Or should we only be clearing it

[2018-09-28 19:59] sinabahram commented on #275
Answers inline:

FS:

In the UI, the leaderboard is not scoped to organization but I have a pull request up to make that happen.

SB:

wonderful and thank you!

FS:

Otherwise, yes we can easily clear out before launch.

SB:

Thanks again

FS:

Can you please confirm that the preferred behavior is that when any game content changes (e.g. anyone adds, deletes, or updates representations that make u

[2018-09-28 20:21] flipsasser commented on #275
Hue hue hue, I wrote that response before I created the pull request. My intention was to click "comment" once I'd put it up, but then in my zeal to act, I clicked "Comment" anyway. Anyhoo... it's up now.

Re: wrapping up the auto-creation of locations, I'm working on that now. I'll default to the blue color that you and Stacie mentioned (and that's on staging currently). We can always go in and u

[2018-09-28 21:16] flipsasser commented on #275
Okay, there's a PR up that creates locations and meta as organizations are created, and archives games from the leaderboard whenever resources with representations with game meta, or representations with game meta, are created, updated or destroyed!

[2018-09-28 21:51] sinabahram commented on #275
Just one important thing.

You said:

created, updated or destroyed

but shouldn’t it be?

Approved ones are updated or destroyed

Just creating a question for possible later content, etc. should not invalidate the current game, and doing anything to unapproved resources also shouldn’t, right?

Other than that, this seems amazing.

[2018-09-28 22:40] alavatelliMCA opened #280 "White on color background to resolve contrast of text"
As discussed with Sina today, black text on the colored background should change to white to avoid contrast issues. Note that this includes answer entry fields as shown in the screenshot below, change black text to white.

<img width="398" alt="screen shot 2018-09-28 at 10 34 46 am" src="https://user-images.githubusercontent.com/8040710/46236668-8701c500-c345-11e8-9949-e209f666afef.png">

[2018-09-28 23:31] flipsasser commented on #275
Updated to reflect only approved representations. Changes to resources with approve representations also archive games, e.g. if the source url or title changes, the games are archived. Please advise if that works!

[2018-09-28 23:43] alavatelliMCA commented on #216
Hey hey! Great news, pink is back!

Just realized that it passes, because the entire interface operates on large text. I'm on the phone with Sina now and he says if y'all agree after looking at this screenshot then we're good.

![screen shot 2018-09-28 at 6 40 38 pm](https://user-images.githubusercontent.com/8040710/46238049-45c1e300-c34e-11e8-9034-7bdadc3ab56d.png)

Pink hex is: #FF00FF

[2018-09-29 00:01] sinabahram commented on #216
+1, since everything is large text, as long as we can make sure to guarantee this to be true e.g. >16PT in all places, and I mean that in normalized way since REMs don’t map to PT without going through PX first.

Stacie, can you make that change please in the DB?

[2018-09-29 00:02] sinabahram commented on #275
That makes perfect sense to me.

When they are archived, what exactly happens to them?

Is it just a flag to let us know not to display? Is there a list? just wondering.

[2018-09-29 05:37] stacietaylorcima commented on #216
@sinabahram @alavatelliMCA Correct me if I'm not doing conversions right, but the organization name on the clue and hint view, and the footer that includes "end game", "see all clues", and the time details is all 13px which converts to 10pt. And the leaderboard is 17px, converting to 13pt. I think those elements are small text.

[2018-09-29 21:01] stacietaylorcima commented on #246
@alavatelliMCA Quick questions so that I can better understand the process here: Is the idea here that a resource will only ever be assigned to one user? Does being assigned a resource mean that the user is supposed to go in and create a description or does it mean that user is responsible for going in and approving/rejecting all existing descriptions?